<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">

	<f:viewParam name="id" value="#{projeFormMB.secilenProjeId}"
		converter="javax.faces.Long" />
	<f:event type="preRenderView" listener="#{projeFormMB.init}" />
	<h:form id="form" prependId="false">

		<p:focus context="@form" />
		<p:panel styleClass="box-primary card">
			<div id="main-buttons">

				<p:commandButton value="Kaydet" action="#{projeFormMB.save}"
					icon="fa fa-check" styleClass="btn-success btn-xs" update="@parent msg">
					<f:setPropertyActionListener value="true"
						target="#{facesContext.externalContext.flash.keepMessages}" />
				</p:commandButton>
		
			</div>

			<hr />

			<div class="ui-g ui-fluid">

				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="Ürün Cins İsmi" for="urunCins" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:inputText id="urunCins"
							value="#{urunFormMB.secilenUrunCins.isim}" required="true"
							requiredMessage="İsim Girilmelidir." />
						<span class="help-block"> <p:message for="urunCins" />
						</span>
					</div>
				</div>

			</div>
		</p:panel>
		<hr />

	</h:form>

</ui:composition>