<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	xmlns:b="http://bootsfaces.net/ui" template="#{layoutMB.template}">


	<ui:define name="metadata">
		<style type="text/css">
			.ui-datatable 
			.ui-datatable-header {
				text-align: right !important;
			}

			#myinfo {
				background-color: blue;
			}
			.cheap {
		        background-color: #54a90a !important;
		        background-image: none !important;
		        color: #ffffff !important;
		    }
		</style>

	</ui:define>

	<ui:define name="description">
		<h4>
			<h:graphicImage
				value="https://img.icons8.com/pix/64/undefined/experimental-product-pix.png" />
			<h:outputLink id="fade" value="#">
				<h:outputText value="Ürünler" />
			</h:outputLink>
			<p:tooltip id="toolTipFade" for="fade"
				value="Ürün ekle/sil/düzenleme işlemleri" position="right" />
		</h4>

	</ui:define>

	<ui:define name="body">
		<ui:include src="/WEB-INF/util/message.xhtml" />


		<h:form id="urunCinsForm">
			<div class="box box-primary card">
				<div class="box-header with-border">
					<div id="main-buttons" class="">

						<p:commandButton value="Yeni ÜRÜN CİNSİ Ekle/Görüntüle"
							styleClass="btn-primary btn-md"
							oncomplete="PF('yeniUrunCinsForm').show()" icon="fa fa-plus"
							action="#{projeListMB.showNewView()}"
							update="urunListForm">
							<f:param name="id" value="0" />
						</p:commandButton>
						
						<p:spacer width="5" />
						
						<p:commandButton value="Yeni ÖLÇÜ BİRİMİ Ekle/Görüntüle" icon="fa fa-plus"
							styleClass="btn-primary btn-md"
							action="#{projeListMB.delete}"
							
							process="@this" update="msg">
							<p:confirm header="Uyarı" message="Emin misiniz ?"
								icon="ui-icon-danger" />
						</p:commandButton>
						
						<p:spacer width="5" />
						
						<p:commandButton value="Yeni ÜRÜN PARAMETRESİ Ekle/Görüntüle"
							styleClass="btn-primary btn-md"
							oncomplete="PF('yeniUrunCinsForm').show()" icon="fa fa-plus"
							action="#{projeListMB.showNewView()}"
							update="urunListForm">
							<f:param name="id" value="0" />
						</p:commandButton>

					
					</div>
					<p:separator />
				</div>
			</div>	
		</h:form>	
			
		

		
		<h:form id="urunListForm">
			<div class="box box-primary card">
				<div class="box-header with-border">
					
						
					<div id="main-buttons" class="">

						<p:commandButton value="Yeni Ürün"
							styleClass="btn-primary btn-xs"
							oncomplete="PF('yeniUrunCinsForm').show()" icon="fa fa-search"
							action="#{projeListMB.showNewView()}"
							update="urunlerTable">
							<f:param name="id" value="0" />
						</p:commandButton>
						
						<p:spacer width="5" />

						<p:commandButton value="Ürünü Sil" icon="fa fa-trash"
							styleClass="btn-danger btn-xs"
							action="#{projeListMB.delete}"
							disabled="#{projeListMB.secilenProje == null}"
							process="@this" update="msg">
							<p:confirm header="Uyarı" message="Emin misiniz ?"
								icon="ui-icon-danger" />
						</p:commandButton>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
							styleClass="box-danger box-solid">
							<p:commandButton value="Evet" type="button"
								styleClass="btn-material btn-primary ui-confirmdialog-yes"
								icon="fa fa-check" />
							<p:commandButton value="Hayır" type="button"
								styleClass="btn-material btn-danger ui-confirmdialog-no"
								icon="fa fa-close" />
						</p:confirmDialog>
					
					<p:separator />
					</div>
					<div class="ui-g ui-fluid">
						<div class="ui-sm-12 ui-g-12 ui-g-nopad">
							<div class="ui-sm-12 ui-g-12">
								<p:outputLabel value="Proje" for="proje" />
						
							</div>
							
							<div class="ui-sm-12 ui-g-12">
								<p:selectOneMenu 	id="proje" 
													value="#{urunListMB.secilenProjeId}" 
													required="true"
													requiredMessage="Proje Seçilmelidir.">
													
									<f:selectItem 	itemLabel="Proje Seçiniz" 
													noSelectionOption="true" />
													
									<f:selectItems 	value="#{urunListMB.getProjeler()}" 
													var="proje"
													itemLabel="#{proje.lokasyon.firma.isim
																.concat( ' - ')
																.concat( proje.lokasyon.isim )
																.concat( ' - ' )
																.concat (proje.isim)}" 
													itemValue="#{proje.id}" />
													
									<p:ajax 		event="change"
													update="urunlerTable" />
								</p:selectOneMenu>
							</div>				
						</div>
						
						<p:separator />
						
						<div class="ui-sm-12 ui-g-12">
							<p:dataTable id="urunlerTable" widgetVar="urunlerTable"
								var="u" value="#{urunListMB.urunler}"
								rows="10" rowKey="#{u.id}" lazy="true" paginator="true"
								paginatorPosition="bottom"
								selection="#{urunListMB.secilenUrun}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
								currentPageReportTemplate="[Toplam {totalRecords} kayıt arasından {startRecord} - {endRecord} arası gösteriliyor ]"
								rowsPerPageTemplate="10,15,20,30" selectionMode="single"
								rowStyleClass="#{p.id le 1 ? 'cheap' : null}" >
		
								<p:ajax event="rowSelect"
									listener="#{urunListMB.onRowSelect}"
									update="@(.ui-button, .ui-confirm-dialog)" />
								<p:ajax event="rowSelectCheckbox"
									update="@(.ui-button, .ui-confirm-dialog)" />
								<p:ajax event="rowUnselectCheckbox"
									update="@(.ui-button, .ui-confirm-dialog)" />
								<p:ajax event="rowSelect"
									update="@(.ui-button, .ui-confirm-dialog) " />
								<p:ajax event="rowUnselect"
									update="@(.ui-button, .ui-confirm-dialog) " />
								<p:ajax event="toggleSelect"
									update="@(.ui-button, .ui-confirm-dialog) " />
								
								
							
								<p:column headerText="Ürün Adı" style="text-align: center;" sortBy="#{u.isim}"
										  filterBy="#{u.isim}" styleClass="thead-light" filterMatchMode="contains"> 
									#{u.isim}
								</p:column>
												
								<p:column headerText="Ürün Cinsi" style="text-align: center;" sortBy="#{u.urunCins}"
										  filterBy="#{u.urunCins}" styleClass="thead-light" filterMatchMode="contains"> 
									#{u.urunCins}	
								</p:column>
								
								<p:column headerText="Üretilecek Adet" style="text-align: center;" styleClass="thead-light"> 
									#{u.uretilecekAdet}
								</p:column>
								
								
								
								<p:column headerText="Uzunluk Ölçüleri (cm)" style="text-align: center;" sortBy="#{p.startDate}">
									#{u.uzunlukOlculeri}
								</p:column>
								
								<p:column>
									<p:commandButton oncomplete="PF('yeniProjeForm').show()"
										value="Güncelle" action="#{projeFormMB.init()}"
										update="@(.ui-dialog)" icon="fa fa-edit"
										styleClass="btn-primary btn-xs">
										<f:param name="id" value="#{p.id}" />
									</p:commandButton>
								</p:column>
		
							</p:dataTable>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		
		
		<p:dialog id="yeniUrunCinsForm" header="Ürün Cinsi Kaydet/Güncelle"
			widgetVar="yeniUrunCinsForm" modal="true" responsive="true" dynamic="true"
			closeOnEscape="true" styleClass="box-success">
			<ui:include src="/musteri-kaydi/urun/urun-cins-form.xhtml" />
		</p:dialog>
		
		

	</ui:define>
</ui:composition>
