<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	xmlns:b="http://bootsfaces.net/ui" template="#{layoutMB.template}">

	<ui:define name="metadata">
		<style type="text/css">
			.ui-datatable .ui-datatable-header {
				text-align: right !important;
			}
			
			#myinfo {
				background-color: blue;
			}
		</style>
	</ui:define>

	<ui:define name="description">
		<h4>
			<h:graphicImage
				value="https://img.icons8.com/ios/50/undefined/new-company.png" />
			<h:outputLink id="fade" value="#">
				<h:outputText value="Lokasyon" />
			</h:outputLink>
			<p:tooltip id="toolTipFade" for="fade"
				value="Lokasyon ekle/sil/düzenleme işlemleri" position="right" />
		</h4>

	</ui:define>


	<ui:define name="body">
		<ui:include src="/WEB-INF/util/message.xhtml" />
		<div class="ui-g">
			<div class="ui-g-12 ui-md-6 ui-lg-6">
				<h:form id="FirmaListForm">
					<div class="box box-primary card">
						<div class="box-header with-border">
							<div id="main-buttons" class="">
			
								<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
									styleClass="box-danger box-solid">
									<p:commandButton value="Evet" type="button"
										styleClass="btn-material btn-primary ui-confirmdialog-yes"
										icon="fa fa-check" />
									<p:commandButton value="Hayır" type="button"
										styleClass="btn-material btn-danger ui-confirmdialog-no"
										icon="fa fa-close" />
								</p:confirmDialog>
							</div>
							<p:separator />
		
							<p:dataTable id="firmaTable" widgetVar="firmaTable"
								var="a" value="#{lokasyonMB.firmalar}"
								rows="10" rowKey="#{a.id}" lazy="true" paginator="true"
								paginatorPosition="top"
								filteredValue="#{lokasyonMB.filteredValue}"
								selection="#{lokasyonMB.secilenFirma}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
								currentPageReportTemplate="[Toplam {totalRecords} kayıt arasından {startRecord} - {endRecord} arası gösteriliyor ]"
								rowsPerPageTemplate="10,15,20,30" selectionMode="single">
		
								<p:ajax event="rowSelect"
									listener="#{lokasyonMB.onRowSelect}"
									update="@(.ui-button, .ui-confirm-dialog) lokasyon-list" />
								<p:ajax event="rowSelectCheckbox"
									update="@(.ui-button, .ui-confirm-dialog)" />
								<p:ajax event="rowUnselectCheckbox"
									update="@(.ui-button, .ui-confirm-dialog)" />
								<p:ajax event="rowSelect"
									update="@(.ui-button, .ui-confirm-dialog) " />
								<p:ajax event="rowUnselect"
									update="@(.ui-button, .ui-confirm-dialog) " />
								<p:ajax event="toggleSelect"
									update="@(.ui-button, .ui-confirm-dialog) " />
		
								<p:column headerText="Firma Adı" filterBy="#{a.isim}"
									styleClass="thead-light" sortBy="#{a.isim}"
									filterMatchMode="contains">
												#{a.isim}
								</p:column>
		
								<p:column headerText="Firma Adresi">
									<div align="center">
										<p:outputLabel value="#{a.adres}" />
									</div>
								</p:column>
		
							</p:dataTable>
						</div>
					</div>
				</h:form>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-6">
				<h:form  id="lokasyon-list">
					<div class="box box-primary card">
						<div class="box-header with-border">
							<div id="main-buttons" class="">
		
								<p:commandButton value="Yeni Lokasyon"
									styleClass="btn-primary btn-xs"
									oncomplete="PF('lokasyonForm').show()" icon="fa fa-search"
									action="#{lokasyonMB.showNewView()}"
									disabled="#{lokasyonMB.secilenFirma == null}"
									update="lokasyonForm">
									<f:param name="id" value="0" />
								</p:commandButton>

								<p:spacer width="5" />
								
								<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
									styleClass="box-danger box-solid">
									<p:commandButton value="Evet" type="button"
										styleClass="btn-material btn-primary ui-confirmdialog-yes"
										icon="fa fa-check" />
									<p:commandButton value="Hayır" type="button"
										styleClass="btn-material btn-danger ui-confirmdialog-no"
										icon="fa fa-close" />
								</p:confirmDialog>
							</div>
							<p:separator />
						</div>		
						<p:repeat value="#{lokasyonMB.lokasyonlar}" var="l">
							<div class="box box-primary card">
								<div class="box-header with-border" >
									<div class="ui-g">
										<div class="ui-g-12 ui-md-12 ui-lg-6">
										
										<p:outputLabel value="#{l.isim}" />
										
										</div>
										<div class="ui-g-12 ui-md-12 ui-lg-6">
										<p:commandButton 
												oncomplete="PF('lokasyonForm').show()"
												action="#{lokasyonMB.showUpdateLokasyonDialog(l)}"
												value="Güncelle" update="lokasyonForm" icon="fa fa-edit"
												styleClass="btn-success btn-xs"
												>
										</p:commandButton>
											
										
										<p:commandButton value="Sil" icon="fa fa-trash"
											styleClass="btn-danger btn-xs"
											action="#{lokasyonMB.lokasyonSil(l)}"
											process="@this" update="msg"
											style="margin-left:10px;">
											<p:confirm header="Dikkat" message="Lokasyonu Silmeniz lokasyona ait tüm proje ve ürünlerin silinmesine sebep olacaktır. Emin misiniz ?"
												icon="ui-icon-danger" />
										</p:commandButton>
										
										</div>
										</div>
									</div>
							</div>
						</p:repeat>
					</div>
				</h:form>
			</div>
		</div>
		
				
		<p:dialog id="lokasyonForm" header="Yeni Lokasyon Ekle/Güncelle"
			widgetVar="lokasyonForm" modal="true" responsive="true" dynamic="true"
			closeOnEscape="true" styleClass="box-success">

			<h:form id="form" prependId="false">

				<p:panel styleClass="box-primary card">
					<div id="main-buttons" class="hidden-sm hidden-xs">

						<p:commandButton value="Kaydet"
							action="#{lokasyonMB.save()}" icon="fa fa-check"
							styleClass="btn-success btn-xs" update="@parent">
							<f:setPropertyActionListener value="true"
								target="#{facesContext.externalContext.flash.keepMessages}" />
						</p:commandButton>
					</div>

					<hr />

					<div class="ui-g ui-fluid">
						<div class="ui-sm-12 ui-g-12 ui-g-nopad">
							<div class="ui-sm-12 ui-g-6">
								<p:outputLabel value="İsim" for="inptName" />
							</div>
							<div class="ui-sm-12 ui-g-6">
								<p:inputText id="inptName"
									value="#{lokasyonMB.secilenLokasyon.isim}"
									
									required="true" requiredMessage="İsim Girilmelidir." />
								<span class="help-block"> <p:message for="inptName" />
								</span>
							</div>
							
						</div>


					</div>
				</p:panel>

			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>
