<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	xmlns:b="http://bootsfaces.net/ui" template="#{layoutMB.template}">

	<ui:define name="metadata">
		<style type="text/css">
			.ui-datatable 
			.ui-datatable-header {
				text-align: right !important;
			}

			#myinfo {
				background-color: blue;
			}
			.cheap {
		        background-color: #54a90a !important;
		        background-image: none !important;
		        color: #ffffff !important;
		    }
		</style>

	</ui:define>

	<ui:define name="description">
		<h4>
			<h:graphicImage
				value="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/undefined/external-project-computer-programming-flaticons-lineal-color-flat-icons.png" />
			<h:outputLink id="fade" value="#">
				<h:outputText value="Projeler" />
			</h:outputLink>
			<p:tooltip id="toolTipFade" for="fade"
				value="Proje ekle/sil/düzenleme işlemleri" position="right" />
		</h4>

	</ui:define>


	<ui:define name="body">
		<ui:include src="/WEB-INF/util/message.xhtml" />

		<h:form id="projeListForm">
			<div class="box box-primary card">
				<div class="box-header with-border">
					<div id="main-buttons" class="">

						<p:commandButton value="Yeni Proje"
							styleClass="btn-primary btn-xs"
							oncomplete="PF('yeniProjeForm').show()" icon="fa fa-search"
							action="#{projeListMB.showNewView()}"
							update="yeniProjeForm">
							<f:param name="id" value="0" />
						</p:commandButton>
						
						<p:spacer width="5" />

						<p:commandButton value="Projeyi Sil" icon="fa fa-trash"
							styleClass="btn-danger btn-xs"
							action="#{projeListMB.delete}"
							disabled="#{projeListMB.secilenProje == null}"
							process="@this" update="msg">
							<p:confirm header="Uyarı" message="Emin misiniz ?"
								icon="ui-icon-danger" />
						</p:commandButton>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
							styleClass="box-danger box-solid">
							<p:commandButton value="Evet" type="button"
								styleClass="btn-material btn-primary ui-confirmdialog-yes"
								icon="fa fa-check" />
							<p:commandButton value="Hayır" type="button"
								styleClass="btn-material btn-danger ui-confirmdialog-no"
								icon="fa fa-close" />
						</p:confirmDialog>
					</div>
					<p:separator />

					<p:dataTable id="projelerTable" widgetVar="projelerTable"
						var="p" value="#{projeListMB.projeler}"
						rows="10" rowKey="#{p.id}" lazy="true" paginator="true"
						paginatorPosition="bottom"
						selection="#{projeListMB.secilenProje}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
						currentPageReportTemplate="[Toplam {totalRecords} kayıt arasından {startRecord} - {endRecord} arası gösteriliyor ]"
						rowsPerPageTemplate="10,15,20,30" selectionMode="single"
						rowStyleClass="#{p.id le 1 ? 'cheap' : null}" >

						<p:ajax event="rowSelect"
							listener="#{projeListMB.onRowSelect}"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowSelectCheckbox"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowUnselectCheckbox"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowSelect"
							update="@(.ui-button, .ui-confirm-dialog) " />
						<p:ajax event="rowUnselect"
							update="@(.ui-button, .ui-confirm-dialog) " />
						<p:ajax event="toggleSelect"
							update="@(.ui-button, .ui-confirm-dialog) " />
						
						
					
						<p:column headerText="Firma" style="text-align: center;" sortBy="#{p.lokasyon.firma.isim}"
								  filterBy="#{p.lokasyon.firma.isim}" styleClass="thead-light" filterMatchMode="contains"> 
							#{p.lokasyon.firma.isim}
						</p:column>
										
						<p:column headerText="Lokasyon" style="text-align: center;" sortBy="#{p.lokasyon.isim}"
								  filterBy="#{p.lokasyon.isim}" styleClass="thead-light" filterMatchMode="contains"> 
							#{p.lokasyon.isim}
						</p:column>
						
						<p:column headerText="Proje" style="text-align: center;" sortBy="#{p.isim}"
								  filterBy="#{p.isim}" styleClass="thead-light" filterMatchMode="contains"> 
							#{p.isim}	
						</p:column>
						
						<p:column headerText="Balangıç Tarihi" style="text-align: center;" sortBy="#{p.startDate}">
							<h:outputText value="#{p.startDate}" >
							    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="GMT+3" />
							</h:outputText>
						</p:column>
						
						<p:column headerText="Bitiş Tarihi" style="text-align: center;" sortBy="#{p.endDate}">
							<h:outputText value="#{p.endDate}" >
							    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="GMT+3" />
							</h:outputText>
						</p:column>
						
						
						<p:column>
							<p:commandButton oncomplete="PF('yeniProjeForm').show()"
								value="Güncelle" action="#{projeFormMB.init()}"
								update="@(.ui-dialog)" icon="fa fa-edit"
								styleClass="btn-primary btn-xs">
								<f:param name="id" value="#{p.id}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>
				</div>
			</div>
		</h:form>
		
		<p:dialog id="yeniProjeForm" header="Proje Kaydet/Güncelle"
			widgetVar="yeniProjeForm" modal="true" responsive="true" dynamic="true"
			closeOnEscape="true" styleClass="box-success">
			<ui:include src="/musteri-kaydi/proje-form.xhtml" />
		</p:dialog>



	</ui:define>
</ui:composition>
