<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/admin.xhtml">

    <ui:define name="head">
        <title>KAMBETON İmalat İş Akış Sistemi</title>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon.ico']}"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-16x16.png']}" sizes="16x16"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-32x32.png']}" sizes="32x32"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-96x96.png']}" sizes="96x96"/>
        <meta name="theme-color" content="#444"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <f:loadBundle var="msg" basename="starter"/>
        <h:outputStylesheet library="css" name="starter.css"/>
    </ui:define>

    <ui:define name="logo">
       <img style="width:100%;height:100%;" src="../../resources/images/kamlogo.jpg"/>
    </ui:define>

    <ui:define name="logo-mini">
        <img style="width:100%;height:100%;" src="../../resources/images/kamlogo-sm.jpg"/>
    </ui:define>

     <ui:define name="menu">
         <ui:include src="/includes/menu.xhtml"/>
     </ui:define>

    <ui:define name="top-menu">
        <ui:include src="/includes/top-bar.xhtml"/>
    </ui:define>
    
     <!-- below is just an example on how to define more tabs for control sidebar --> 
    <ui:define name="controlsidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ui:define>
     
<!--    <ui:define name="controlsidebar-content"> -->
<!--         <ui:include src="/includes/controlsidebar-tabs-content.xhtml"/> -->
<!--     </ui:define> -->
    


    <ui:define name="footer">
          <a target="_blank"
           href="#">
           KAMBETON - © 2022-2023
        </a>

        <div class="pull-right hidden-xs" style="color: gray">
            <i>#{msg['starter.version']}</i>
        </div>

    </ui:define>


</ui:composition>