<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<ul class="sidebar-menu tree" data-widget="tree">
		<li>
			<p:link outcome="/admin-index" onclick="clearBreadCrumbs()"
				rendered="true">
				<i class="fa fa-home"></i>
				<span>Anasayfa</span>
			</p:link>
		</li>
			
		<li class="treeview">
			<a href="#"> 
				<i class="fa fa-building"></i> 
				<span>Müşteri Kaydı</span> 
				<span class="pull-right-container"> 
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
			<ul class="treeview-menu">
				<li>
					<p:link outcome="/musteri-kaydi/firma-list.jsf" rendered="true">
						<i class="fa fa-building"></i>
						<span>Firma</span>
					</p:link>
				</li>
				<li>
					<p:link outcome="/musteri-kaydi/lokasyon-list.jsf" rendered="true">
						<i class="fa fa-building"></i>
						<span>Lokasyon</span>
					</p:link>
				</li>
				<li>
					<p:link outcome="/musteri-kaydi/proje-list.jsf" rendered="true">
						<i class="fa fa-building"></i>
						<span>Proje</span>
					</p:link>
				</li>
				<li>
					<p:link outcome="/musteri-kaydi/urun/urun-list.jsf" rendered="true">
						<i class="fa fa-building"></i>
						<span>Ürün</span>
					</p:link>
				</li>
			</ul>
		</li>
			
		

		<li>
			<p:link outcome="/appointment-list.jsf" rendered="true">
				<i class="fa fa-address-card"></i>
				<span>Randevular</span>
			</p:link>
		</li>
			
	
		<li>
			<p:link outcome="/patient-list.jsf" rendered="true">
				<i class="fa fa-users"></i>
				<span>Hekim Modülü</span>
			</p:link>
		</li>


		<li>
			<p:link outcome="/secretary.jsf" rendered="true">
				<i class="fa fa-stack-overflow"></i>
				<span>Sekreterya</span>
			</p:link>
		</li>

		<li class="treeview">
			<a href="#"> 
				<i class="fa fa-user-circle"></i> 
				<span>Admin Paneli</span> 
				<span class="pull-right-container"> 
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
			<ul class="treeview-menu">
				<li>
					<p:link outcome="/doctor-list.jsf" rendered="true">
						<i class="fa fa-user-md"></i>
						<span>Personeller</span>
					</p:link>
				</li>

				<li>
					<p:link outcome="/finance-summary.jsf">
						<i class="fa fa-money"></i>
						<span>Finans Özeti</span>
					</p:link>
				</li>

				<li>
					<p:link outcome="/treatment-and-pricing-list.jsf">
						<i class="fa fa-stethoscope"></i>
						<span>Tedaviler ve Fiyatlandırma</span>
					</p:link>
				</li>

				<li>
					<p:link outcome="/medicine-list.jsf">
						<i class="fa fa-medkit"></i>
						<span>İlaç Tanımlama</span>
					</p:link>
				</li>
				
			</ul>
		</li>
	</ul>
</ui:composition>

