<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
	<style type="text/css">
/* below css hides growls in small screens and makes messages visible */
@media ( max-width : 768px) {
	body div.ui-growl {
		display: none;
	}
	body div.ui-messages {
		display: block;
	}
}

/* below css hides messages in medium/big devices and makes growl visible in such devices */
@media ( min-width : 769px) {
	body div.ui-growl {
		display: block;
	}
	body div.ui-messages {
		display: none;
	}
}

div.ui-growl-info>div.ui-growl-item {
	color: white;
	background-color: #008d4c;
	border-color: #008d4c;
}
</style>
	<h:body>
		<p:growl id="msg" showDetail="true" sticky="false" />
	</h:body>
</ui:composition>