<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">


	<ul class="sidebar-menu tree" data-widget="tree">

		<li><p:link outcome="/appointment-list.jsf" rendered="true">
				<i class="fa fa-address-card"></i>
				<span>Randevular</span>
			</p:link></li>



		<li><p:link outcome="/secretary.jsf" rendered="true">
				<i class="fa fa-stack-overflow"></i>
				<span>Sekreterya</span>
			</p:link></li>

		<li><p:link outcome="/patient-list.jsf" rendered="true">
				<i class="fa fa-users"></i>
				<span>Tedavi Modülü</span>
			</p:link></li>
	</ul>
</ui:composition>