<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/xml">

	<c:if test="true">
		<ui:include src="#{loginMB.getMenuLayoutAccordingToRole()}" />
	</c:if>
</ui:composition>