<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<style type="text/css">
#layout-menu_menu {
	z-index: 9997 !important;
}

#layout-menu_menu span.ui-menuitem-text {
	margin-left: 2px;
}
</style>
	<ul class="nav navbar-nav">

		<li class="dropdown user user-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span>Merhaba #{loginMB.currentUser}</span>
		</a>
			<ul class="dropdown-menu">
				<li class="user-header">
					
					<p>
						<small>#{loginMB.currentUser}</small>
					</p>
				</li>
				<li class="user-footer"><h:form prependId="false">

						<div class="pull-right">
							<p:commandLink id="logout" action="#{logoutMB.doLogout}"
								title="Logoff">
								<p:outputLabel value="Çıkış Yap" />
								<i class="fa fa-sign-out fa-2x"></i>
							</p:commandLink>
						</div>
					</h:form></li>
			</ul></li>

		<li><a id="layout-setup" href="#"
			class="#{adminConfig.controlSidebar.showOnMobile ? '':'hidden-sm hidden-xs'}"
			data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li>

	</ul>


</ui:composition>
