<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="#{layoutMB.template}">
	
	<style type="text/css">
	
	.custom-bg {

	background-image: url("#{resource['images:kam-bg.png']}"); 

    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment:fixed;
    background-position: left;
    -webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
    
	}
	
	</style>
	
	
	<ui:define name="head-end">
		<ui:param name="renderBreadCrumb" value="false" />
	</ui:define>
	<ui:define name="body" styleClass="custom-bg">
	</ui:define>
		<ui:define name="title">
			
				<h2 class="align-center" style="background-color: #FFEC52; padding-bottom:30px;
												background-size: auto; height: 100%;  background-size: cover;">
					<!-- <img style="width:100%;height:100%;" src="../resources/images/kam-background.png"/> -->
					<div style="font-weight:700; padding-top:30px">
						e-kambeton
					</div>
					<span class="text-aqua"> 
					<i>
						<br/><br/> 
						<a> KAMBETON Süreç Yönetim Sistemi'ne</a>
					</i>
					</span>
					Hoş Geldiniz <br /> <br /> <br /> 
					<small> 
						<p:link value="Projeler" href="/musteri-kaydi/proje-list.jsf" /> 
							menüsünden yeni Proje kaydı oluşturabilir ve kayıtları görebilirsiniz.
					</small><br /> 
					<small> 
						<p:link value="Ürünler" href="/musteri-kaydi/lokasyon-list.jsf"/> 
							menüsünden yeni ürün ekleyebilir ve ürün ile ilgili bilgileri görebilirsiniz.
					</small>
				</h2>
				<h2 ></h2>
	
		</ui:define>
	
	
</ui:composition>
