<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	template="#{layoutMB.template}">

	<ui:define name="metadata">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}
</style>
	</ui:define>

	<ui:define name="description">
		<h4>
			<h:graphicImage
				value="https://img.icons8.com/cute-clipart/50/000000/planner.png" />
			Randevular
		</h4>
	</ui:define>

	<ui:define name="body">

		<h:form id="appointmentListForm">
			<div class="box box-primary card">
				<div class="box-header with-border">
					<div id="main-buttons" class="hidden-sm hidden-xs">

						<p:commandButton value="Randevuy Sil" icon="fa fa-trash"
							styleClass="btn-danger btn-xs"
							action="#{appointmentListMB.delete}"
							disabled="#{appointmentListMB.selectedAppointment == null}"
							process="@this" update="@all">
							<p:confirm header="Uyarı" message="Emin misiniz ?"
								icon="ui-icon-danger" />
						</p:commandButton>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
							styleClass="box-danger box-solid">
							<p:commandButton value="Evet" type="button"
								styleClass="btn-material btn-primary ui-confirmdialog-yes"
								icon="fa fa-check" />
							<p:commandButton value="Hayır" type="button"
								styleClass="btn-material btn-danger ui-confirmdialog-no"
								icon="fa fa-close" />
						</p:confirmDialog>
					</div>
					<p:separator />

					<p:selectOneMenu id="hekim"
						value="#{appointmentListMB.selectedDoctorId}">
						<f:selectItem itemLabel="
							Hekim Seçiniz"
							noSelectionOption="true" />
						<f:selectItems value="#{appointmentListMB.getDoctors()}"
							var="doctor" itemLabel="#{doctor.name}" itemValue="#{doctor.id}" />
						<p:ajax event="change" update="@form"
							listener="#{appointmentListMB.onDoctorSelect}" />
					</p:selectOneMenu>


					<p:separator />
					<p:dataTable id="appointmentsTable" widgetVar="appointmentsTable"
						var="a" value="#{appointmentListMB.appointments}" rows="10"
						rowKey="#{a.id}" lazy="true" paginator="true"
						paginatorPosition="bottom"
						selection="#{appointmentListMB.selectedAppointment}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
						currentPageReportTemplate="[Toplam {totalRecords} kayıt arasından {startRecord} - {endRecord} arası gösteriliyor ]"
						rowsPerPageTemplate="10,15,20,30" selectionMode="single">

						<p:ajax event="rowSelect"
							listener="#{appointmentListMB.onRowSelect}"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowSelectCheckbox"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowUnselectCheckbox"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowSelect"
							update="@(.ui-button, .ui-confirm-dialog) " />
						<p:ajax event="rowUnselect"
							update="@(.ui-button, .ui-confirm-dialog) " />
						<p:ajax event="toggleSelect"
							update="@(.ui-button, .ui-confirm-dialog) " />

						<p:column headerText="İsim">
								#{appointmentListMB.findPatientById(a.patientId)}
								</p:column>

						<p:column headerText="Saat">
							<div align="center">
								<h:outputLabel
									styleClass="#{appointmentListMB.isAppointmentOld(a)}"
									style="font-size:16px" value="#{a.time}" />
							</div>
						</p:column>

						<p:column headerText="Randevu Tarihi">
							<div align="center">
								<h:outputText value="#{a.date}">
									<f:convertDateTime pattern="dd-MM.yyyy" timeZone="GMT+3" />
								</h:outputText>
							</div>
						</p:column>

						<p:column headerText="Hekim">
								#{appointmentListMB.findDoctorById(a.doctorId)}
								</p:column>

					</p:dataTable>
				</div>
			</div>
		</h:form>


	</ui:define>

</ui:composition>
