<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">

	<script type="text/javascript">
		PrimeFaces.locales['tr'] = {
			closeText : 'kapat',
			prevText : 'geri',
			nextText : 'ileri',
			currentText : 'bugün',
			monthNames : [ 'Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs',
					'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım',
					'Aralık' ],
			monthNamesShort : [ 'Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz',
					'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara' ],
			dayNames : [ 'Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe',
					'Cuma', 'Cumartesi' ],
			dayNamesShort : [ 'Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct' ],
			dayNamesMin : [ 'Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct' ],
			weekHeader : 'Hf',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : '',
			timeOnlyTitle : 'Zaman Seçiniz',
			timeText : 'Zaman',
			hourText : 'Saat',
			minuteText : 'Dakika',
			secondText : 'Saniye',
			ampm : false,
			month : 'Ay',
			week : 'Hafta',
			day : 'Gün',
			allDayText : 'Tüm Gün'
		};
	</script>

	<h:form>

		<p:growl id="msg" showDetail="true" sticky="false" />

		<div id="main-buttons" class="hidden-sm hidden-xs">
			<p:commandButton value="Kaydet" action="#{appointmentFormMB.save()}"
				icon="fa fa-check" styleClass="btn-success btn-xs" update="msg">
				<f:setPropertyActionListener value="true"
					target="#{facesContext.externalContext.flash.keepMessages}" />
			</p:commandButton>
		</div>

		<div class="ui-sm-12 ui-g-2 ">
			<div class="ui-sm-12 ui-g-11">
				<p:outputLabel value="Hekim" for="hekim" />
			</div>
			<div class="ui-sm-12 ui-g-11">
				<p:selectOneMenu id="hekim" disabled="true"
					value="#{patientListMB.selectedPatient.doctor}" editable="false">
					<f:selectItem itemLabel="
							Hekim Seçiniz"
						noSelectionOption="true" />
					<f:selectItems value="#{patientFormMB.getDoctors()}" var="doctor"
						itemLabel="#{doctor.name}" itemValue="#{doctor.id}" />
				</p:selectOneMenu>
			</div>

			<div class="ui-sm-12 ui-g-11">
				<p:outputLabel value="Kontrol Hekimi" for="kontrolHekim" />
			</div>
			<div class="ui-sm-12 ui-g-11">
				<p:selectOneMenu id="kontrolHekim"
					value="#{appointmentFormMB.controlDoctorId}">
					<f:selectItem itemLabel="
							Kontrol için Hekim Seçiniz"
						noSelectionOption="true" />
					<f:selectItems value="#{patientFormMB.getDoctors()}" var="doctor"
						itemLabel="#{doctor.name}" itemValue="#{doctor.id}" />
					<p:ajax event="change" update="@form"
						listener="#{appointmentFormMB.onControlDoctorSelect}" />
				</p:selectOneMenu>
				<h:outputText
					value="(Eğer Kontrol Hekimi Seçerseniz, Hastanın kendi hekimi yerine seçilen hekim adına randevu oluşturulur.)"
					style="color:orange;" />
			</div>
		</div>

		<div class="ui-sm-12 ui-g-2 ui-g-nopad">
			<div class="ui-sm-12 ui-g-11">
				<p:outputLabel value="Randevu Tarihi" for="tarih" />

			</div>
			<div class="ui-sm-12 ui-g-11">
				<p:calendar id="tarih" value="#{appointmentFormMB.date}" locale="tr">
					<p:ajax event="dateSelect"
						listener="#{appointmentFormMB.onDateSelect}" update="@form" />

				</p:calendar>
			</div>
		</div>

		<div class="ui-sm-12 ui-g-2 ui-g-nopad">
			<div class="ui-sm-12 ui-g-11">
				<p:outputLabel value="Randevu Saati" for="time" />

			</div>
			<div class="ui-sm-12 ui-g-11">

				<p:outputLabel id="time"
					value="#{appointmentFormMB.getTime() !=null ? appointmentFormMB.getTime() : 'Lütfen Saat Seçiniz'}"
					style="#{appointmentFormMB.getTime() !=null ? 'color:green;font-size: 33px;' : 'color:red;font-size: 16px;'}; font-weight: 700;  letter-spacing: 0.04em;
    line-height: 27px;
    " />
			</div>
		</div>

		<div class="ui-sm-12 ui-g-6">

			<div class="ui-sm-12 ui-g-4 ui-g-nopad">

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="00:00"
						disabled="#{appointmentFormMB.isSelected('00:00')}"
						action="#{appointmentFormMB.setTime('00:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('00:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="00:20"
						disabled="#{appointmentFormMB.isSelected('00:20')}"
						action="#{appointmentFormMB.setTime('00:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('00:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="00:40"
						disabled="#{appointmentFormMB.isSelected('00:40')}"
						action="#{appointmentFormMB.setTime('00:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('00:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="01:00"
						disabled="#{appointmentFormMB.isSelected('01:00')}"
						action="#{appointmentFormMB.setTime('01:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('01:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="01:20"
						disabled="#{appointmentFormMB.isSelected('01:20')}"
						action="#{appointmentFormMB.setTime('01:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('01:20') ? '' : 'btn-primary'}" />
				</div>


				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="01:40"
						disabled="#{appointmentFormMB.isSelected('01:40')}"
						action="#{appointmentFormMB.setTime('01:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('01:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="02:00"
						disabled="#{appointmentFormMB.isSelected('02:00')}"
						action="#{appointmentFormMB.setTime('02:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('02:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="02:20"
						disabled="#{appointmentFormMB.isSelected('02:20')}"
						action="#{appointmentFormMB.setTime('02:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('02:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="02:40"
						disabled="#{appointmentFormMB.isSelected('02:40')}"
						action="#{appointmentFormMB.setTime('02:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('02:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="03:00"
						disabled="#{appointmentFormMB.isSelected('03:00')}"
						action="#{appointmentFormMB.setTime('03:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('03:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="03:20"
						disabled="#{appointmentFormMB.isSelected('03:20')}"
						action="#{appointmentFormMB.setTime('03:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('03:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="03:40"
						disabled="#{appointmentFormMB.isSelected('03:40')}"
						action="#{appointmentFormMB.setTime('03:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('03:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="04:00"
						disabled="#{appointmentFormMB.isSelected('04:00')}"
						action="#{appointmentFormMB.setTime('04:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('04:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="04:20"
						disabled="#{appointmentFormMB.isSelected('04:20')}"
						action="#{appointmentFormMB.setTime('04:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('04:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="04:40"
						disabled="#{appointmentFormMB.isSelected('04:40')}"
						action="#{appointmentFormMB.setTime('04:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('04:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="05:00"
						disabled="#{appointmentFormMB.isSelected('05:00')}"
						action="#{appointmentFormMB.setTime('05:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('05:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="05:20"
						disabled="#{appointmentFormMB.isSelected('05:20')}"
						action="#{appointmentFormMB.setTime('05:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('05:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="05:40"
						disabled="#{appointmentFormMB.isSelected('05:40')}"
						action="#{appointmentFormMB.setTime('05:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('05:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="06:00"
						disabled="#{appointmentFormMB.isSelected('06:00')}"
						action="#{appointmentFormMB.setTime('06:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('06:00') ? '' : 'btn-primary'}" />
				</div>


				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="06:20"
						disabled="#{appointmentFormMB.isSelected('06:20')}"
						action="#{appointmentFormMB.setTime('06:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('06:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="06:40"
						disabled="#{appointmentFormMB.isSelected('06:40')}"
						action="#{appointmentFormMB.setTime('06:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('06:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="07:00"
						disabled="#{appointmentFormMB.isSelected('07:00')}"
						action="#{appointmentFormMB.setTime('07:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('07:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="07:20"
						disabled="#{appointmentFormMB.isSelected('07:20')}"
						action="#{appointmentFormMB.setTime('07:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('07:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="07:40"
						disabled="#{appointmentFormMB.isSelected('07:40')}"
						action="#{appointmentFormMB.setTime('07:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('07:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="08:00"
						disabled="#{appointmentFormMB.isSelected('08:00')}"
						action="#{appointmentFormMB.setTime('08:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('08:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="08:20"
						disabled="#{appointmentFormMB.isSelected('08:20')}"
						action="#{appointmentFormMB.setTime('08:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('08:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="08:40"
						disabled="#{appointmentFormMB.isSelected('08:40')}"
						action="#{appointmentFormMB.setTime('08:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('08:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4 ">
					<p:commandButton value="09:00"
						disabled="#{appointmentFormMB.isSelected('09:00')}"
						action="#{appointmentFormMB.setTime('09:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('09:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="09:20"
						disabled="#{appointmentFormMB.isSelected('09:20')}"
						action="#{appointmentFormMB.setTime('09:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('09:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="09:40"
						disabled="#{appointmentFormMB.isSelected('09:40')}"
						action="#{appointmentFormMB.setTime('09:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('09:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4 ">
					<p:commandButton value="10:00"
						disabled="#{appointmentFormMB.isSelected('10:00')}"
						action="#{appointmentFormMB.setTime('10:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('10:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="10:20"
						disabled="#{appointmentFormMB.isSelected('10:20')}"
						action="#{appointmentFormMB.setTime('10:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('10:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="10:40"
						disabled="#{appointmentFormMB.isSelected('10:40')}"
						action="#{appointmentFormMB.setTime('10:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('10:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4 ">
					<p:commandButton value="11:00"
						disabled="#{appointmentFormMB.isSelected('11:00')}"
						action="#{appointmentFormMB.setTime('11:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('11:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="11:20"
						disabled="#{appointmentFormMB.isSelected('11:20')}"
						action="#{appointmentFormMB.setTime('11:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('11:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="11:40"
						disabled="#{appointmentFormMB.isSelected('11:40')}"
						action="#{appointmentFormMB.setTime('11:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('11:40') ? '' : 'btn-primary'}" />
				</div>




			</div>

			<div class="ui-sm-12 ui-g-2 "></div>

			<div class="ui-sm-12 ui-g-4 ui-g-nopad">



				<div class="ui-sm-12 ui-g-4 ">
					<p:commandButton value="12:00"
						disabled="#{appointmentFormMB.isSelected('12:00')}"
						action="#{appointmentFormMB.setTime('12:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('12:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="12:20"
						disabled="#{appointmentFormMB.isSelected('12:20')}"
						action="#{appointmentFormMB.setTime('12:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('12:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="12:40"
						disabled="#{appointmentFormMB.isSelected('12:40')}"
						action="#{appointmentFormMB.setTime('12:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('12:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="13:00"
						disabled="#{appointmentFormMB.isSelected('13:00')}"
						action="#{appointmentFormMB.setTime('13:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('13:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="13:20"
						disabled="#{appointmentFormMB.isSelected('13:20')}"
						action="#{appointmentFormMB.setTime('13:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('13:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="13:40"
						disabled="#{appointmentFormMB.isSelected('13:40')}"
						action="#{appointmentFormMB.setTime('13:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('13:40') ? '' : 'btn-primary'}" />
				</div>


				<div class="ui-sm-12 ui-g-4 ">
					<p:commandButton value="14:00"
						disabled="#{appointmentFormMB.isSelected('14:00')}"
						action="#{appointmentFormMB.setTime('14:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('14:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="14:20"
						disabled="#{appointmentFormMB.isSelected('14:20')}"
						action="#{appointmentFormMB.setTime('14:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('14:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="14:40"
						disabled="#{appointmentFormMB.isSelected('14:40')}"
						action="#{appointmentFormMB.setTime('14:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('14:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4 ">
					<p:commandButton value="15:00"
						disabled="#{appointmentFormMB.isSelected('15:00')}"
						action="#{appointmentFormMB.setTime('15:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('15:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="15:20"
						disabled="#{appointmentFormMB.isSelected('15:20')}"
						action="#{appointmentFormMB.setTime('15:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('15:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="15:40"
						disabled="#{appointmentFormMB.isSelected('15:40')}"
						action="#{appointmentFormMB.setTime('15:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('15:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4 ">
					<p:commandButton value="16:00"
						disabled="#{appointmentFormMB.isSelected('16:00')}"
						action="#{appointmentFormMB.setTime('16:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('16:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="16:20"
						disabled="#{appointmentFormMB.isSelected('16:20')}"
						action="#{appointmentFormMB.setTime('16:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('16:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="16:40"
						disabled="#{appointmentFormMB.isSelected('16:40')}"
						action="#{appointmentFormMB.setTime('16:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('16:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4 ">
					<p:commandButton value="17:00"
						disabled="#{appointmentFormMB.isSelected('17:00')}"
						action="#{appointmentFormMB.setTime('17:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('17:00') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="17:20"
						disabled="#{appointmentFormMB.isSelected('17:20')}"
						action="#{appointmentFormMB.setTime('17:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('17:20') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="17:40"
						disabled="#{appointmentFormMB.isSelected('17:40')}"
						action="#{appointmentFormMB.setTime('17:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('17:40') ? '' : 'btn-primary'}" />
				</div>

				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="18:00"
						disabled="#{appointmentFormMB.isSelected('18:00')}"
						action="#{appointmentFormMB.setTime('18:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('18:00') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="18:20"
						disabled="#{appointmentFormMB.isSelected('18:20')}"
						action="#{appointmentFormMB.setTime('18:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('18:20') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="18:40"
						disabled="#{appointmentFormMB.isSelected('18:40')}"
						action="#{appointmentFormMB.setTime('18:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('18:40') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="19:00"
						disabled="#{appointmentFormMB.isSelected('19:00')}"
						action="#{appointmentFormMB.setTime('19:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('19:00') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="19:20"
						disabled="#{appointmentFormMB.isSelected('19:20')}"
						action="#{appointmentFormMB.setTime('19:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('19:20') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="19:40"
						disabled="#{appointmentFormMB.isSelected('19:40')}"
						action="#{appointmentFormMB.setTime('19:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('19:40') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="20:00"
						disabled="#{appointmentFormMB.isSelected('20:00')}"
						action="#{appointmentFormMB.setTime('20:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('20:00') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="20:20"
						disabled="#{appointmentFormMB.isSelected('20:20')}"
						action="#{appointmentFormMB.setTime('20:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('20:20') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="20:40"
						disabled="#{appointmentFormMB.isSelected('20:40')}"
						action="#{appointmentFormMB.setTime('20:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('20:40') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="21:00"
						disabled="#{appointmentFormMB.isSelected('21:00')}"
						action="#{appointmentFormMB.setTime('21:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('21:00') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="21:20"
						disabled="#{appointmentFormMB.isSelected('21:20')}"
						action="#{appointmentFormMB.setTime('21:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('21:20') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="21:40"
						disabled="#{appointmentFormMB.isSelected('21:40')}"
						action="#{appointmentFormMB.setTime('21:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('21:40') ? '' : 'btn-primary'}" />
				</div>
				
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="22:00"
						disabled="#{appointmentFormMB.isSelected('22:00')}"
						action="#{appointmentFormMB.setTime('22:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('22:00') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="22:20"
						disabled="#{appointmentFormMB.isSelected('22:20')}"
						action="#{appointmentFormMB.setTime('22:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('22:20') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="22:40"
						disabled="#{appointmentFormMB.isSelected('22:40')}"
						action="#{appointmentFormMB.setTime('22:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('22:40') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="23:00"
						disabled="#{appointmentFormMB.isSelected('23:00')}"
						action="#{appointmentFormMB.setTime('23:00')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('23:00') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="23:20"
						disabled="#{appointmentFormMB.isSelected('23:20')}"
						action="#{appointmentFormMB.setTime('23:20')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('23:20') ? '' : 'btn-primary'}" />
				</div>
				
				<div class="ui-sm-12 ui-g-4">
					<p:commandButton value="23:40"
						disabled="#{appointmentFormMB.isSelected('23:40')}"
						action="#{appointmentFormMB.setTime('23:40')}" update="time"
						styleClass="#{appointmentFormMB.isSelected('23:40') ? '' : 'btn-primary'}" />
				</div>
				
				
			</div>
		</div>



		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
			styleClass="box-danger box-solid">
			<p:commandButton value="Evet" type="button"
				styleClass="btn-material btn-success ui-confirmdialog-yes"
				icon="fa fa-check" />
			<p:commandButton value="Hayır" type="button"
				styleClass="btn-material btn-danger ui-confirmdialog-no"
				icon="fa fa-close" />
		</p:confirmDialog>

	</h:form>
</ui:composition>
