<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">

	<h:form>
		<div class="ui-g ui-fluid">
			<div class="ui-sm-12 ui-g-6 ">
				<p:outputLabel value="İndirim Tutarı(₺)" />
			</div>
			<div class="ui-sm-12 ui-g-6 ">
				<p:inputText value="#{paymentMB.discount}" />
			</div>

			<div class="ui-sm-12 ui-g-6 "></div>

			<div class="ui-sm-12 ui-g-6 ">
				<p:commandButton value="Uygula"
					action="#{paymentMB.applyDiscount()}"
					styleClass="btn btn-success btn-block" update="msg tabView" />

			</div>
		</div>
	</h:form>
</ui:composition>