<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">

	<f:viewParam name="id" value="#{doctorTreatmentDetailMB.id}"
		converter="javax.faces.Long" />
	<f:event type="preRenderView"
		listener="#{doctorTreatmentDetailMB.init}" />

	<h:form id="form" prependId="false">
			Doktor : <b>#{appointmentListMB.findDoctorById(doctorTreatmentDetailMB.id)}</b>
	</h:form>

	<p:dataTable widgetVar="doctorTreatmentDetail" var="p"
		value="#{doctorTreatmentDetailMB.payments}" rows="10" rowKey="#{p.id}"
		lazy="true" paginator="true" paginatorPosition="bottom"
		paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
		currentPageReportTemplate="[Toplam {totalRecords} kayıt arasından {startRecord} - {endRecord} arası gösteriliyor ]"
		rowsPerPageTemplate="5,10,15,20,30">


		<p:column headerText="Hasta İsmi">
			#{appointmentListMB.findPatientById(p.patientId)}
		</p:column>

		<p:column headerText="Hekim">
					#{appointmentListMB.findDoctorById(p.doctorId)}
		</p:column>

		<p:column headerText="Randevu Tarihi">
			<div align="center">
				<h:outputText value="#{p.date}">
					<f:convertDateTime pattern="dd.MM.yyyy" />
				</h:outputText>
			</div>
		</p:column>

		<p:column headerText="Uygulanan Tedavi">
				#{p.treatmentName}
			</p:column>

		<p:column headerText="Tutar">
			<p:outputLabel value="#{paymentMB.getAmount(p)} ₺"
				styleClass="#{paymentMB.getStyleClass(p)}" />
		</p:column>

	</p:dataTable>

</ui:composition>