<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">

	<f:viewParam name="id" value="#{doctorFormMB.id}"
		converter="javax.faces.Long" />
	<f:event type="preRenderView" listener="#{doctorFormMB.init}" />
	<h:form id="form" prependId="false">

		<p:focus context="@form" />
		<p:panel styleClass="box-primary card">
			<div id="main-buttons" class="hidden-sm hidden-xs">

				<p:commandButton value="Kaydet" action="#{doctorFormMB.save}"
					icon="fa fa-check" styleClass="btn-success btn-xs"
					update="@parent msg">
					<f:setPropertyActionListener value="true"
						target="#{facesContext.externalContext.flash.keepMessages}" />
				</p:commandButton>

				<p:commandButton value="Temizle" action="#{doctorFormMB.clear}"
					process="@this" icon="fa fa-refresh"
					styleClass="btn-primary btn-xs" update="@form msg"
					rendered="#{!doctorFormMB.saved}" resetValues="true" />

				<p:commandButton value="Sil" action="#{doctorFormMB.remove}"
					process="@this" rendered="#{doctorFormMB.saved}" icon="fa fa-trash"
					styleClass="btn-danger btn-xs" update="msg">
					<f:setPropertyActionListener value="true"
						target="#{facesContext.externalContext.flash.keepMessages}" />
					<p:confirm header="Confirmation" message="Emin misiniz ?"
						icon="ui-icon-danger" />
				</p:commandButton>
			</div>

			<hr />

			<div class="ui-g ui-fluid">
				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="İsim" for="inptName" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:inputText id="inptName" value="#{doctorFormMB.doctor.name}"
							required="true" requiredMessage="İsim Girilmelidir." />
						<span class="help-block"> <p:message for="inptName" />
						</span>
					</div>
				</div>

				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel for="id" value="TC Numarası" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:inputNumber id="id" value="#{doctorFormMB.doctor.tcNo}"
							style="width: 100%" thousandSeparator="" decimalSeparator="."
							decimalPlaces="0" mask="9999999999"
							requiredMessage="TC No Girilmelidir." />
						<span class="help-block"> <p:message for="id" />
						</span>
					</div>
				</div>


				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="Branşı" for="branch" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:selectOneMenu id="branch" required="true"
							requiredMessage="Branşı Girilmelidir."
							value="#{doctorFormMB.doctor.branch}">
							<f:selectItem itemLabel="Hekim" itemValue="hekim" />
							<f:selectItem itemLabel="Sekreter" itemValue="sekreter" />
							<f:selectItem itemLabel="Admin" itemValue="admin" />
						</p:selectOneMenu>

						<span class="help-block"> <p:message for="branch" />
						</span>
					</div>
				</div>

				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="Telefon Numarası" for="phoneNumber" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:inputMask id="phoneNumber"
							value="#{doctorFormMB.doctor.phoneNumberString}" mask="(999) 999-9999"
							required="true" requiredMessage="Telefon Numarası Girilmelidir." />
						<span class="help-block"> <p:message for="phoneNumber" />
						</span>
					</div>
				</div>

				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="Kullanıcı adı" for="userName" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:inputText id="userName" value="#{doctorFormMB.doctor.userName}"
							required="true" requiredMessage="Kullanıcı Adı Girilmelidir." />
						<span class="help-block"> <p:message for="userName" />
						</span>
					</div>
				</div>

				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="Parola" for="password" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:inputText id="password" value="#{doctorFormMB.doctor.password}"
							required="true" requiredMessage="Parola Girilmelidir." />
						<span class="help-block"> <p:message for="password" />
						</span>
					</div>
				</div>

			</div>
		</p:panel>
		<hr />

		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
			styleClass="box-danger box-solid">
			<p:commandButton value="Evet" type="button"
				styleClass="btn-material btn-primary ui-confirmdialog-yes"
				icon="fa fa-check" />
			<p:commandButton value="Hayır" type="button"
				styleClass="btn-material btn-danger ui-confirmdialog-no"
				icon="fa fa-close" />
		</p:confirmDialog>
	</h:form>

</ui:composition>