<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	template="#{layoutMB.template}">

	<ui:define name="metadata">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}

#myinfo {
	background-color: blue;
}
</style>
	</ui:define>

	<ui:define name="description">
		<h4>
			<h:graphicImage
				value="https://img.icons8.com/cute-clipart/50/000000/planner.png" />
			Randevular
		</h4>
	</ui:define>

	<ui:define name="description">
		<h4>
			<h:graphicImage
				value="https://img.icons8.com/color/48/000000/doctor-male--v1.png" />
			<h:outputLink id="fade" value="#">
				<h:outputText value="Personeller" />
			</h:outputLink>
			<p:tooltip id="toolTipFade" for="fade"
				value="Bu sayfadan sınırsız hekim ve personel tanımlaması yapabilirsiniz. 'Yeni Personel' butonuna basın ve hekim bilgilerini girip kaydet butonuna basın. "
				position="top" />
		</h4>

	</ui:define>

	<ui:define name="body">
		<ui:include src="/WEB-INF/util/message.xhtml" />
		<h:form>
			<div class="box box-primary card">
				<div class="box-header with-border">
					<div id="main-buttons" class="hidden-sm hidden-xs">
						<p:commandButton value="Yeni Personel"
							styleClass="btn-primary btn-xs"
							oncomplete="PF('yeniPersonel').show()" icon="fa fa-user-md"
							update="yeniPersonel">
							<f:param name="id" value="0" />
						</p:commandButton>
					</div>

					<p:separator />
					<p:dataTable widgetVar="doctorsTable" var="d"
						value="#{doctorListMB.doctors}" rows="5" rowKey="#{d.id}"
						lazy="true" paginator="true" paginatorPosition="bottom"
						selection="#{doctorListMB.selectedDoctor}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
						currentPageReportTemplate="[Toplam {totalRecords} kayıt arasından {startRecord} - {endRecord} arası gösteriliyor ]"
						rowsPerPageTemplate="5,10,15,20,30" selectionMode="single">

						<p:ajax event="rowSelect" listener="#{doctorListMB.onRowSelect}"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowSelectCheckbox"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowUnselectCheckbox"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowSelect"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowUnselect"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="toggleSelect"
							update="@(.ui-button, .ui-confirm-dialog)" />


						<p:column headerText="İsim" sortBy="#{d.name}">
							#{d.name}
						</p:column>

						<p:column headerText="Telefon Numarası"
							sortBy="#{d.phoneNumberString}">
                            #{d.phoneNumber}
                        </p:column>

						<p:column headerText="TC Numarası" sortBy="#{d.tcNo}">
                            #{d.tcNo}
                        </p:column>

						<p:column headerText="Branşı" sortBy="#{d.branch}">
							#{d.branch}
						</p:column>

						<p:column headerText="Kullanıcı Adı" sortBy="#{d.userName}">
							#{d.userName}
						</p:column>

						<p:column headerText="Parola" sortBy="#{d.password}">
							#{d.password}
						</p:column>

						<p:column>
							<p:commandButton oncomplete="PF('yeniPersonel').show()"
								value="Güncelle" action="#{doctorFormMB.init()}"
								update="@(.ui-dialog)" icon="fa fa-edit"
								styleClass="btn-primary btn-xs">
								<f:param name="id" value="#{d.id}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</div>
			</div>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
				styleClass="box-danger box-solid">
				<p:commandButton value="Evet" type="button"
					styleClass="btn-material btn-primary ui-confirmdialog-yes"
					icon="fa fa-check" />
				<p:commandButton value="Hayır" type="button"
					styleClass="btn-material btn-danger ui-confirmdialog-no"
					icon="fa fa-close" />
			</p:confirmDialog>
		</h:form>

		<p:dialog id="yeniPersonel" header="Personel Kaydet/Güncelle"
			widgetVar="yeniPersonel" modal="true" responsive="true"
			dynamic="true" closeOnEscape="true" styleClass="box-success">
			<ui:include src="/doctor-form.xhtml" />
		</p:dialog>

	</ui:define>

</ui:composition>
