<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	xmlns:c="http://java.sun.com/jstl/core" template="#{layoutMB.template}">

	<script type="text/javascript">
		PrimeFaces.locales['tr'] = {
			closeText : 'kapat',
			prevText : 'geri',
			nextText : 'ileri',
			currentText : 'bugün',
			monthNames : [ 'Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs',
					'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım',
					'Aralık' ],
			monthNamesShort : [ 'Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz',
					'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara' ],
			dayNames : [ 'Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe',
					'Cuma', 'Cumartesi' ],
			dayNamesShort : [ 'Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct' ],
			dayNamesMin : [ 'Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct' ],
			weekHeader : 'Hf',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : '',
			timeOnlyTitle : 'Zaman Seçiniz',
			timeText : 'Zaman',
			hourText : 'Saat',
			minuteText : 'Dakika',
			secondText : 'Saniye',
			ampm : false,
			month : 'Ay',
			week : 'Hafta',
			day : 'Gün',
			allDayText : 'Tüm Gün'
		};
	</script>
	<ui:define name="metadata">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}

div .bg-cyan * {
	color: white;
	background-color: #17a2b8;
}

.bg-dent {
	color: white;
	background-color: #04cab7 !important;
}
</style>


	</ui:define>

	<ui:define name="description">
		<h4>Finans</h4>
	</ui:define>

	<ui:define name="body">

		<p:panel id="klinik_ozeti" header="FİNANS ÖZETİ" toggleable="true"
			closable="true" toggleSpeed="500" closeSpeed="500"
			widgetVar="panel-solid" styleClass="box-primary">
			<h:form>
				<div class="ui-g-12 ui-g-nopad">

					<div class="col-lg-3 col-12">
						<div class="col-lg-4 col-12">
							<p:outputLabel value="Başlangıç Tarihi" />
						</div>
						<div class="col-lg-8 col-12">
							<p:calendar locale="tr"
								value="#{financeSummaryMB.dateBeginForIncome}">

							</p:calendar>
						</div>

					</div>


					<div class="col-lg-3 col-12">
						<div class="col-lg-4 col-12">
							<p:outputLabel value="Bitiş Tarihi" />
						</div>
						<div class="col-lg-8 col-12">
							<p:calendar locale="tr"
								value="#{financeSummaryMB.dateEndForIncome}">
							</p:calendar>
						</div>

					</div>

					<div class="col-lg-3 col-12">
						<div class="col-lg-8 col-12">
							<p:commandButton value="Güncelle"
								styleClass="btn-success btn-block" update="klinik_ozeti" />
						</div>


					</div>

				</div>
			</h:form>
			<hr />
			<hr />

			<div class="col-lg-4 col-12">
				<div class="small-box bg-dent">
					<div class="inner">
						<h3>#{financeSummaryMB.todaysIncome()} ₺</h3>
						<b>Yapılan İşlemlerin Tutarı</b>
					</div>
					<div class="icon">
						<img
							src="https://img.icons8.com/fluent/100/000000/stack-of-coins.png" />

					</div>
					<a href="#" class="small-box-footer"> Daha Fazla Bilgi<i
						class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-12">
				<div class="small-box bg-dent">
					<div class="inner">
						<h3>#{financeSummaryMB.todaysOperationCost()} ₺</h3>
						<b>Alınan Toplam Ödeme</b>
					</div>
					<div class="icon">
						<img
							src="https://img.icons8.com/color/100/000000/cash-in-hand.png" />
					</div>
					<a href="#" class="small-box-footer"> Daha Fazla Bilgi<i
						class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="small-box bg-dent">
					<div class="inner">
						<h3>#{financeSummaryMB.todaysPatientNumber()} Hasta</h3>
						<b>Gelen Hasta Sayısı</b>
					</div>
					<div class="icon">
						<img src="https://img.icons8.com/color/100/000000/recovery.png" />
					</div>
					<a href="#" class="small-box-footer">Daha Fazla Bilgi <i
						class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>

		</p:panel>

		<p:spacer height="20" />
		<p:panel id="doktor_ozet" header="HEKİMLERİN  CİROLARI"
			toggleable="true" closable="true" toggleSpeed="500" closeSpeed="500"
			widgetVar="panel-solid" styleClass="box-primary">
			<h:form>
				<div class="ui-g-12 ui-g-nopad">

					<div class="col-lg-3 col-12">
						<div class="col-lg-4 col-12">
							<p:outputLabel value="Başlangıç Tarihi" />
						</div>
						<div class="col-lg-8 col-12">
							<p:calendar locale="tr"
								value="#{financeSummaryMB.dateBeginOperationCost}">

							</p:calendar>
						</div>

					</div>


					<div class="col-lg-3 col-12">
						<div class="col-lg-4 col-12">
							<p:outputLabel value="Bitiş Tarihi" />
						</div>
						<div class="col-lg-8 col-12">
							<p:calendar locale="tr"
								value="#{financeSummaryMB.dateEndForOperationCost}">
							</p:calendar>
						</div>

					</div>

					<div class="col-lg-3 col-12">
						<div class="col-lg-8 col-12">
							<p:commandButton value="Güncelle"
								styleClass="btn-success btn-block" update="doktor_ozet" />
						</div>


					</div>

				</div>
			</h:form>
			<hr />
			<hr />
			<p:repeat value="#{financeSummaryMB.doctors}" var="doctor">




				<div class="col-lg-4 col-12">
					<div class="small-box bg-primary">
						<div class="inner">
							<h3>#{financeSummaryMB.getDoctorsDailyGiro(doctor.id)} ₺</h3>
							<h4>
								<b style="color: White">#{doctor.name}</b>
							</h4>
							Ciro
						</div>
						<div class="icon">
							<img
								src="https://img.icons8.com/color/100/000000/doctor-male--v1.png" />
						</div>
						<a href="#" class="small-box-footer">
							<p:commandButton oncomplete="PF('islemDetay').show()"
								value="Daha Fazla Detay"
								update="@(.ui-dialog)" icon="fa fa-arrow-circle-right"
								styleClass="btn-primary btn-xs">
								<f:param name="id" value="#{doctor.id}"/>
							</p:commandButton>
						</a>
					</div>
				</div>
			</p:repeat>
		</p:panel>

		<p:dialog id="islemDetay" header="Doktorun Yaptığı İşlemler"
			widgetVar="islemDetay" modal="true" responsive="true" dynamic="true"
			closeOnEscape="true" styleClass="box-success">
			<ui:include src="doctor-treatment-detail.xhtml" />
		</p:dialog>
		

	</ui:define>

</ui:composition>
