<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="#{layoutMB.template}">

	<ui:define name="head-end">
		<ui:param name="renderBreadCrumb" value="false" />
	</ui:define>

	<ui:define name="title">
		<h2 class="align-center" >
			<img style="width:50%;height:100px;" src="../resources/images/kamlogo.jpg"/>
			<div style="font-weight:700">e-kambeton</div> <span class="text-aqua"> <i>
					<br /> <br /> <a> KAMBETON Süreç Yönetim Sistemi'ne</a>
			</i></span> Hoş Geldiniz <br /> <br /> <br /> <small> <p:link
					value="Projeler" href="/appointment-list.jsf" /> menüsünden yeni
				Proje kaydı oluşturabilir ve kayıtları görebilirsiniz.
			</small><br /> <small> <p:link value="Ürünler"
					href="/patient-list.jsf" /> menüsünden yeni ürün ekleyebilir ve
				ürün ile ilgili bilgileri görebilirsiniz.
			</small>
	
		</h2>

	</ui:define>


</ui:composition>
