<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:adm="http://github.com/adminfaces"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>KAMBETON İmalat Süreç Takip Sistemi</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['favicon/favicon.ico']}" />
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['favicon/favicon-16x16.png']}" sizes="16x16" />
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['favicon/favicon-32x32.png']}" sizes="32x32" />
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['favicon/favicon-96x96.png']}" sizes="96x96" />
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['favicon/favicon-144x144.png']}" sizes="144x144" />
	<meta name="theme-color" content="#444" />
	<meta name="mobile-web-app-capable" content="yes" />

	<style type="text/css">
body .load-bar {
	margin-top: -20px;
}
/* below css hides growls in small screens and makes messages visible */
@media ( max-width : 768px) {
	body div.ui-growl {
		display: none;
	}
	body div.ui-messages {
		display: block;
	}
}

/* below css hides messages in medium/big devices and makes growl visible in such devices */
@media ( min-width : 769px) {
	body div.ui-growl {
		display: block;
	}
	body div.ui-messages {
		display: none;
	}
}

body.login-page {
	background-color: transparent;
}

.login-box-body, .register-box-body {
	padding: 20px;
	border-top: 0;
	border-radius: 25px !important;
	background-color: rgb(255 255 255/ 50%);
}

.ui-button, .ui-button span, button.ui-button.ui-state-default span,
	.ui-button.ui-state-default span {
	font-weight: 800;
}

.custom-banner {
	font-weight: 1500 !important;
}
html {

	background-image: url("#{resource['images:kam-bg.png']}"); 

    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment:fixed;
    background-position: left;
    -webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
    
	}

@media ( max-width : 768px) 
{
	html {
		background-image: url("#{resource['images:kam-bg.png']}");
		background-size: cover;
		
	}
}

.login-box-msg, .register-box-msg {
	margin: 0;
	text-align: center;
	padding: 0 20 px 20 px 20 px;
	font-weight: bolder;
	color: #343434;
	font-size: xx-large;
}
</style>
</h:head>



<h:body styleClass="hold-transition login-page">
	<p:growl id="growl" showDetail="true" sticky="true" />
	<p:commandButton styleClass="btn btn-teal btn-block custom-banner"
							action="#{loginMB.login}"
							disabled="true"
							value="" />
	<div id="loader" class="load-bar" style="display: none">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>

	<!-- 	<p:dialog id="adminStatusDialog" modal="true" widgetVar="statusDialog" -->
	<!-- 		draggable="false" closable="false" resizable="false" responsive="true" -->
	<!-- 		showHeader="false" appendTo="@(body)"> -->
	<!-- 		<p:graphicImage library="images" name="#{adminConfig.loadingImage}" /> -->
	<!-- 	</p:dialog> -->

	<div class="login-box">
		<!-- /.login-logo -->
		<div class="box login-box-body">
			<h:form>
				<p class="login-box-msg">e-kambeton</p>
				<p:messages closable="true" />

				<div class="form-group has-feedback">
					<p:inputText value="#{loginMB.email}" styleClass="form-control"
						placeholder="Kullanıcı Adı" required="true"
						requiredMessage="Kullanıcı Adı Girilmelidir." />
					<i class="fa fa-user form-control-feedback"></i>
				</div>
				<div class="form-group has-feedback">
					<p:inputText value="#{loginMB.password}" type="password"
						styleClass="form-control" placeholder="Şifre" required="true"
						requiredMessage="Password is required." />
					<i class="fa fa-lock form-control-feedback" style="font-size: 18px"></i>
				</div>
				<div class="row">
					<p:spacer height="10" />
					<div class="col-xs-12">
						<p:commandButton styleClass="btn btn-success btn-block"
							style="font-weight: 800;" action="#{loginMB.login}"
							value="Giriş Yap" update="@form growl" />
					</div>
				</div>
			</h:form>

		</div>
		<!-- /.login-box-body -->
	</div>
	<adm:ripple />
	<h:outputScript library="js" name="admintemplate.js" target="head" />

</h:body>
</html>