<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<f:metadata>
	<f:viewParam name="patientName" value="#{mediaViewMB.patientName}" />
	<f:viewParam name="doctorName" value="#{mediaViewMB.doctorName}" />
	<f:viewParam name="medicineName" value="#{mediaViewMB.medicineName}" />
	<f:event listener="#{mediaViewMB.init}" type="preRenderView" />
</f:metadata>
<h:head>
</h:head>
<h:body>
	<pe:documentViewer height="100%" width="100%"
		value="#{mediaViewMB.file}" />
</h:body>
</html>
