<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<h:form id="onamFormuInternal">
		<pe:documentViewer height="1500" cache="false"
			url="/resources/media/HastaOnamFormu.pdf">
				<f:param name="id" value="#{patientListMB.idFile()}" />
			</pe:documentViewer>
			
	</h:form>

</ui:composition>
