<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<ui:include src="/WEB-INF/util/message.xhtml"/>
	<h:form id="panaromic_form" enctype="multipart/form-data">
		<p:fileUpload id="fileUpload" value="#{panaromicImagesView.file}"
					  sizeLimit="25000000"
					  invalidSizeMessage="Dosya Boyutu 25 mb dan büyük olamaz."
					  cancelLabel="İptal" invalidFileMessage="Geçersiz Dosya Uzantısı"
					  uploadLabel="Yükle" label="Resim Seç" mode="advanced"
					  multiple="false" styleClass="dotted-upload" dragDropSupport="true"
					  update="msg image_panel"
			fileUploadListener="#{panaromicImagesView.fileUploadListener}">
		</p:fileUpload>

		<hr />
		<p:panel id="image_panel" class="card">

			<div class="col-lg-2 col-12">
				<c:forEach var="fileName" items="#{panaromicImagesView.fileNames()}">

					<p:commandButton styleClass=" btn-block btn-sm btn-teal"
						value="#{fileName}"
						action="#{panaromicImagesView.changePicture(fileName)}"
						update="@parent current_image"></p:commandButton>
				</c:forEach>
			</div>
			<div class="col-lg-10 col-12">
				<div class="small-box">
					<span style="float: right"><p:commandButton
							action="#{panaromicImagesView.delete()}"
							styleClass="btn-block btn-sm btn-danger" value="Sil"
							update="@parent current_image">
							<p:confirm header="Uyarı" message="Emin misiniz ?"
									   icon="ui-icon-danger"/>
						</p:commandButton></span>

					<p:graphicImage id="current_image" value="#{panaromicImagesView.image}">
						<f:param name="imageName" value="#{panaromicImagesView.currentPicture}"/>
					</p:graphicImage>
				</div>
			</div>
		</p:panel>
	</h:form>
</ui:composition>
