<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">

	<f:viewParam name="id" value="#{patientFormMB.id}"
		converter="javax.faces.Long" />
	<f:event type="preRenderView" listener="#{patientFormMB.init}" />
	<h:form id="form" prependId="false">

		<p:focus context="@form" />
		<p:panel styleClass="box-primary card">
			<div id="main-buttons" class="hidden-sm hidden-xs">

				<p:commandButton value="Kaydet" action="#{patientFormMB.save}"
					icon="fa fa-check" styleClass="btn-success btn-xs" update="@parent">
					<f:setPropertyActionListener value="true"
						target="#{facesContext.externalContext.flash.keepMessages}" />
				</p:commandButton>

				<p:commandButton value="Temizle" action="#{patientFormMB.clear}"
					process="@this" icon="fa fa-refresh"
					styleClass="btn-primary btn-xs" update="@form"
					rendered="#{!patientFormMB.saved}" resetValues="true" />

			</div>

			<hr />

			<div class="ui-g ui-fluid">
				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="İsim" for="inptName" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:inputText id="inptName" value="#{patientFormMB.patient.name}"
							required="true" requiredMessage="İsim Girilmelidir." />
						<span class="help-block"> <p:message for="inptName" />
						</span>
					</div>
				</div>

				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel for="id" value="TC Numarası" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:inputNumber id="id" value="#{patientFormMB.patient.tcNo}"
							required="true" style="width: 100%" thousandSeparator=""
							decimalSeparator="." decimalPlaces="0" mask="9999999999"
							requiredMessage="TC No Girilmelidir." />
						<span class="help-block"> <p:message for="id" />
						</span>
					</div>
				</div>


				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="Doğum Tarihi" for="birthDate" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:calendar id="birthDate" showOn="button" pattern="dd/mm/yyyy"
							value="#{patientFormMB.patient.birthDate}" required="true"
							mask="99/99/9999" locale="tr"
							requiredMessage="Doğum Tarihi Girilmelidir." />
						<span class="help-block"> <p:message for="birthDate" />
						</span>
					</div>
				</div>

				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="Telefon Numarası" for="phoneNumber" />

					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:inputMask id="phoneNumber"
							value="#{patientFormMB.patient.phoneNumber}"
							mask="(999) 999-9999" required="true"
							requiredMessage="Telefon Numarası Girilmelidir." />
						<span class="help-block"> <p:message for="phoneNumber" />
						</span>
					</div>
				</div>

				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="Hekim" for="hekim" />

					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:selectOneMenu id="hekim"
							value="#{patientFormMB.patient.doctor}">
							<f:selectItem itemLabel="Hekim Seçiniz" noSelectionOption="true" />
							<f:selectItems value="#{patientFormMB.getDoctors()}" var="doctor"
								itemLabel="#{doctor.name}" itemValue="#{doctor.id}" />
						</p:selectOneMenu>
					</div>
				</div>

			</div>
		</p:panel>
		<hr />

		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
			styleClass="box-danger box-solid">
			<p:commandButton value="Evet" type="button"
				styleClass="btn-material btn-primary ui-confirmdialog-yes"
				icon="fa fa-check" />
			<p:commandButton value="Hayır" type="button"
				styleClass="btn-material btn-danger ui-confirmdialog-no"
				icon="fa fa-close" />
		</p:confirmDialog>
	</h:form>

</ui:composition>