<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">

	<h:form id="patient-information-form">
		<ui:include src="/WEB-INF/util/message.xhtml" />

		<p:commandButton styleClass="btn-fatal" value="Onam Formu Oluştur"
			update="msg @form onamFormuPdf" action="#{patientListMB.print()}" />
		<p:panel id="export" styleClass="card">
			<hr />
			<div align="center">
				<div class="ui-material">
					<h:outputText
						value="Türk Dişhekimleri Birliği Hasta ve Anamnez ve Tedavi Kartı"
						style="color:DodgerBlue" />
				</div>
			</div>
			<hr />
			<div class="ui-g ui-fluid">
				<div class="ui-g-6 ui-sm-12">
					<div class="ui-material">
						<p:outputLabel for="soru1"
							value="1- Şu anda herhangi bir tedabi görüyor musunuz? İlaç kullanıyor musunuz?" />
						<p:inputText id="soru1"
							value="#{patientInformationMB.info.cevap1}"
							placeholder="Lütfen bilgileri giriniz" />
						<p:message for="soru1" />
					</div>
				</div>


				<div class="ui-g-6 ui-sm-12">
					<div class="ui-material">
						<p:outputLabel for="soru2"
							value="2- Baş ve boyun bölgesinde radyoterapi görüdnüz mü?" />
						<p:inputText id="soru2"
							value="#{patientInformationMB.info.cevap2}"
							placeholder="Lütfen bilgileri giriniz" />
						<p:message for="soru2" />
					</div>
				</div>

				<div class="ui-g-6 ui-sm-12">
					<div class="ui-material">
						<p:outputLabel for="soru3"
							value="3- Cerrahi müdehale veya yaralanma sonrası kanama uzun sürer mi?" />
						<p:inputText id="soru3"
							value="#{patientInformationMB.info.cevap3}"
							placeholder="Lütfen bilgileri giriniz" />
						<p:message for="soru3" />
					</div>
				</div>
				<div class="ui-g-6 ui-sm-12">
					<div class="ui-material">
						<p:outputLabel for="soru4"
							value="4- Bunların dışında herhangi bir tıbbi sorununuz var mı?" />
						<p:inputText id="soru4"
							value="#{patientInformationMB.info.cevap4}"
							placeholder="Lütfen bilgileri giriniz" />
						<p:message for="soru4" />
					</div>
				</div>
				<div class="ui-g-6 ui-sm-12">
					<div class="ui-material">
						<p:outputLabel for="soru5"
							value="5- Sürekli kontrolünde olduğunuz doktorunuz var mı?" />
						<p:inputText id="soru5"
							value="#{patientInformationMB.info.cevap5}"
							placeholder="Lütfen bilgileri giriniz" />
						<p:message for="soru5" />
					</div>
				</div>

				<div class="ui-g-6 ui-sm-12">
					<div class="ui-material">
						<p:outputLabel for="soru6"
							value="6- Bayanlarda- Hamilelik, düşük adet ve menapoz bilgileri:" />
						<p:inputText id="soru6"
							value="#{patientInformationMB.info.cevap6}"
							placeholder="Lütfen bilgileri giriniz" />
						<p:message for="soru6" />
					</div>
				</div>

				<div class="ui-g-12 ui-sm-12">
					<div class="ui-material">
						<p:outputLabel for="soru7"
							value="7- Herhangi bir hastalığınız var mı ? Lütfen seçiniz." />
						<p:inputText id="soru7"
							value="#{patientInformationMB.info.cevap7}"
							placeholder="Lütfen bilgileri giriniz" />
						<p:message for="soru7" />
					</div>
				</div>


				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Kalp Hastalıkları "
						value="#{patientInformationMB.info.bool1}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Şeker Hastalığı "
						value="#{patientInformationMB.info.bool2}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Tansiyon Sorunu "
						value="#{patientInformationMB.info.bool3}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Epilepsi (sara) "
						value="#{patientInformationMB.info.bool4}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Ateşli romatizma "
						value="#{patientInformationMB.info.bool5}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Eklem romatizması "
						value="#{patientInformationMB.info.bool6}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel=" Guatr (Trold tabletleri) "
						value="#{patientInformationMB.info.bool7}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Kan Hastalıkları "
						value="#{patientInformationMB.info.bool8}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="İlaç alerjisi "
						value="#{patientInformationMB.info.bool9}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Zührevi hastalık "
						value="#{patientInformationMB.info.bool10}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Sarılık "
						value="#{patientInformationMB.info.bool11}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Astım, saman nezlesi "
						value="#{patientInformationMB.info.bool12}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Böbrek karaciğer bozuklukları "
						value="#{patientInformationMB.info.bool13}" />
				</div>
				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel=" Akciğer hastalıkları "
						value="#{patientInformationMB.info.bool14}" />
				</div>

				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="Sinüzit "
						value="#{patientInformationMB.info.bool15}" />
				</div>

				<div class="ui-sm-12 ui-g-2">
					<p:selectBooleanCheckbox itemLabel="AIDS"
						value="#{patientInformationMB.info.bool16}" />
				</div>

				<div class="ui-g-12 ui-sm-12">
					<div class="ui-material">
						<p:outputLabel for="soru7"
							value="AÇIKLAMA ( Harici bir bilgi belirtmek istiyorsanız buraya giriniz )" />
						<p:inputTextarea placeholder="Lütfen bilgileri giriniz"
							value="#{patientInformationMB.info.description}" />
					</div>
				</div>
			</div>

			<p:commandButton value="Kaydet" update="@form msg"
				styleClass="btn-success" action="#{patientInformationMB.save}" />

		</p:panel>
		<p:dialog id="onamFormuPdf" header="Hasta Onam Formu"
			widgetVar="onamFormuPdf" maximizable="true" modal="true"
			dynamic="true" responsive="true" closeOnEscape="true" width="80%"
			height="100%" styleClass="box-success">
			<ui:include src="onamFormuPdf.xhtml" />
		</p:dialog>
	</h:form>


</ui:composition>
