<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">

	<div class="box box-primary card">

		<p:spacer width="5" />

		<p:commandButton value="İndirim Uygula"
			styleClass="btn-xs btn-success"
			oncomplete="PF('discountFrom').show()" icon="fa fa-search"
			update="discountFrom" />

		<p:dataTable id="paymentsTable" widgetVar="paymentsTable" var="p"
			value="#{paymentMB.payments}" rowKey="#{p.id}" lazy="true"
			selectionMode="single">

			<p:ajax event="rowSelect" listener="#{paymentMB.onRowSelect}" />
			<p:ajax event="rowSelectCheckbox"
				update="@(.ui-button, .ui-confirm-dialog)" />
			<p:ajax event="rowUnselectCheckbox"
				update="@(.ui-button, .ui-confirm-dialog)" />
			<p:ajax event="rowSelect" update="@(.ui-button, .ui-confirm-dialog) " />
			<p:ajax event="rowUnselect"
				update="@(.ui-button, .ui-confirm-dialog) " />
			<p:ajax event="toggleSelect"
				update="@(.ui-button, .ui-confirm-dialog) " />

			<p:column headerText="Hasta İsmi">
			#{appointmentListMB.findPatientById(p.patientId)}
		</p:column>

			<p:column headerText="Hekim">
					#{appointmentListMB.findDoctorById(p.doctorId)}
		</p:column>

			<p:column headerText="Randevu Tarihi">
				<div align="center">
								<h:outputText value="#{p.date}">
									<f:convertDateTime pattern="dd.MM.yyyy" timeZone="GMT+3" />
								</h:outputText>
				</div>
			</p:column>

			<p:column headerText="Uygulanan Tedavi">
				#{p.treatmentName}
			</p:column>

			<p:column headerText="Tutar">
				<p:outputLabel value="#{paymentMB.getAmount(p)} ₺"
					styleClass="#{paymentMB.getStyleClass(p)}" />
			</p:column>
			
						<p:column>
				<p:commandButton styleClass="btn-xs btn-danger" value="Sil"
					rendered="#{p.sign == '-'}"
					action="#{paymentMB.delete(p)}" process="@this"
					update="@parent tabView">
					<p:confirm header="UYARI" message="Emin misiniz ?"
						icon="ui-icon-danger" />
				</p:commandButton>
			</p:column>
			
		</p:dataTable>
		<p:spacer height="10" />
		<div class="box-footer" style="display: block;">
			<div class="row">
				<div class="col-sm-4 col-xs-12"></div>
				<div class="col-sm-3 col-xs-6">
					<div class="box box-primary card">
						<div class="small-box bg-blue">
							<div class="inner">
								<h2>Toplam Borç</h2>
								<h3>
									<h:outputText value="#{paymentMB.getTotalDept()}" />
								</h3>
							</div>
							<div class="icon">
								<i class="fa fa-turkish-lira"></i>
							</div>
							<p:commandButton value="Ödeme Al"
								styleClass="btn-lg btn-success btn-block"
								oncomplete="PF('paymentForm').show()" icon="fa fa-search"
								action="#{treatmentPricingListMB.showNewView()}"
								update="paymentForm">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<p:dialog id="paymentForm" header="Ödeme Al" widgetVar="paymentForm"
		modal="true" responsive="true" dynamic="true" closeOnEscape="true"
		styleClass="box-success">
		<ui:include src="/payment-form.xhtml" />
	</p:dialog>

	<p:dialog id="discountFrom" header="İndirim Uygula"
		widgetVar="discountFrom" modal="true" responsive="true"
		closeOnEscape="true" styleClass="box-success">
		<ui:include src="discountForm.xhtml" />
	</p:dialog>
</ui:composition>
