<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">



	<h:form>

		<p:growl id="msg" showDetail="true" sticky="false" />

		<div id="main-buttons">
			
			<h:commandLink styleClass="btn btn-success" action="/media-viewer.xhtml" target="_blank">Reçete Oluştur
			<f:setPropertyActionListener value="true"
					target="#{facesContext.externalContext.flash.keepMessages}" /></h:commandLink>

		</div>

		<div class="ui-sm-12 ui-g-12 ui-g-nopad">
			<div class="ui-sm-12 ui-g-3">
				<p:outputLabel value="Hekim" for="hekim" />
			</div>
			<div class="ui-sm-12 ui-g-6">
				<p:selectOneMenu id="hekim" value="#{mediaViewMB.doctorId}"
					editable="false">
					<f:selectItem itemLabel="
							Hekim Seçiniz"
						noSelectionOption="true" />
					<f:selectItems value="#{patientFormMB.getDoctors()}" var="doctor"
						itemLabel="#{doctor.name}" itemValue="#{doctor.id}" />
				</p:selectOneMenu>
			</div>

		</div>

		<div class="ui-sm-12 ui-g-12 ui-g-nopad">
			<div class="ui-sm-12 ui-g-3">
				<p:outputLabel value="Tanı" for="des" />

			</div>
			<div class="ui-sm-12 ui-g-6">

				<p:inputTextarea id="des" value="#{mediaViewMB.description}"
					utoResize="true" style="width:100%" />
			</div>
		</div>

		<div class="ui-sm-12 ui-g-12 ui-g-nopad">

			<div class="ui-sm-12 ui-g-3">
				<p:outputLabel value="İlaçlar" for="med" />

			</div>
			<div class="ui-sm-12 ui-g-6">
				<p:selectOneMenu id="med" value="#{mediaViewMB.selectedMedicineId}">
					<f:selectItem itemLabel="İlaç Seçiniz" noSelectionOption="true" />
					<f:selectItems value="#{mediaViewMB.getMedicines()}" var="med"
						itemLabel="#{med.name}" itemValue="#{med.id}" />
					<f:ajax event="change" listener="#{mediaViewMB.selected}"></f:ajax>
				</p:selectOneMenu>

				<p:commandButton value="Ekle" styleClass="btn-primary btn-block"
					action="#{mediaViewMB.addMedicine()}" 
					update="@form"></p:commandButton>
			</div>

		</div>

		<h:form id="eklenen_ilaclar">
			<div class="ui-sm-12 ui-g-12 ui-g-nopad">
				<div class="ui-sm-12 ui-g-3">
					<p:outputLabel value="Eklenen İlaçlar" />

				</div>
				<div class="ui-sm-12 ui-g-6">

					<p:outputLabel>#{mediaViewMB.medicineList}</p:outputLabel>
				</div>

			</div>
		</h:form>


	</h:form>
</ui:composition>
