<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	xmlns:b="http://bootsfaces.net/ui" template="#{layoutMB.template}">

	<ui:define name="metadata">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}

#myinfo {
	background-color: blue;
}
</style>
	</ui:define>

	<ui:define name="description">
		<h4>
			<h:graphicImage
				value="https://img.icons8.com/color/48/000000/consultation.png" />
			<h:outputLink id="fade" value="#">
				<h:outputText value="Sekreterya" />
			</h:outputLink>
			<p:tooltip id="toolTipFade" for="fade"
				value="Bu sayfadan sınırsız hekim tanımlaması yapabilirsiniz. 'Yeni Hekim' butonuna basın ve hekim bilgilerini girip kaydet butonuna basın. "
				position="top" />
		</h4>

	</ui:define>

	<ui:define name="body">
		<ui:include src="/WEB-INF/util/message.xhtml" />
		<h:form>
			<div class="box box-primary card">
				<div class="box-header with-border">
					<p:commandButton value="Yeni Hasta" styleClass="btn-primary btn-xs"
						oncomplete="PF('yeniHasta').show()" icon="fa fa-search"
						update="yeniHasta">
						<f:param name="id" value="0" />
					</p:commandButton>
					<p:spacer width="5" />

					<p:commandButton value="Randevu Oluştur" update="@(.ui-dialog)"
						styleClass="btn-success btn-xs"
						disabled="#{patientListMB.selectedPatient.id == null}"
						oncomplete="PF('randevuSaatleri').show()" icon="fa fa-search" />


					<p:separator />
					<p:dataTable widgetVar="patientsTable" var="p" rowStyleClass="old"
						value="#{patientListMB.patients}" rows="5" rowKey="#{p.id}"
						lazy="true" paginator="true"
						filteredValue="#{patientListMB.filteredValue}"
						paginatorPosition="bottom"
						selection="#{patientListMB.selectedPatient}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
						currentPageReportTemplate="[Toplam {totalRecords} kayıt arasından {startRecord} - {endRecord} arası gösteriliyor ]"
						rowsPerPageTemplate="5,10,15,20,30" selectionMode="single">

						<p:ajax event="rowSelect" listener="#{patientListMB.onRowSelect}"
							update="@(.ui-button, .ui-confirm-dialog) tabView" />
						<p:ajax event="rowSelectCheckbox"
							update="@(.ui-button, .ui-confirm-dialog) tabView" />
						<p:ajax event="rowUnselectCheckbox"
							update="@(.ui-button, .ui-confirm-dialog) tabView" />
						<p:ajax event="rowSelect"
							update="@(.ui-button, .ui-confirm-dialog) tabView " />
						<p:ajax event="rowUnselect"
							update="@(.ui-button, .ui-confirm-dialog) tabView " />
						<p:ajax event="toggleSelect"
							update="@(.ui-button, .ui-confirm-dialog) tabView " />


						<p:column headerText="İsim" filterBy="#{p.name}"
							styleClass="thead-light" sortBy="#{p.name}"
							filterMatchMode="contains">
							#{p.name}
						</p:column>

						<p:column headerText="Telefon Numarası" sortBy="#{p.phoneNumber}">
                            #{p.phoneNumber}
                        </p:column>

						<p:column headerText="TC Numarası" sortBy="#{p.tcNo}"
							filterBy="#{p.tcNo}">
                            #{p.tcNo}
                        </p:column>

						<p:column headerText="Doğum Tarihi" sortBy="#{p.birthDate}">
							<div align="center">
								<h:outputText value="#{p.birthDate}">
									<f:convertDateTime pattern="dd.mm.yyyy" timeZone="GMT+3"/>
								</h:outputText>
							</div>
						</p:column>
						
						<p:column headerText="Kayıt Tarihi" sortBy="#{p.registerDate}">
							<div align="center">
								<h:outputText value="#{p.registerDate}">
									<f:convertDateTime pattern="dd.MM.yyyy" timeZone="GMT+3"/>
								</h:outputText>
							</div>
						</p:column>

						<p:column>
							<p:commandButton oncomplete="PF('yeniHasta').show()"
								value="Güncelle" action="#{patientFormMB.init()}"
								update="@(.ui-dialog)" icon="fa fa-edit"
								styleClass="btn-primary btn-xs">
								<f:param name="id" value="#{p.id}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>


				</div>
			</div>
			<p:confirmDialog global="true" hideEffect="fade"
				styleClass="box-danger box-solid">
				<p:commandButton value="Evet" type="button"
					styleClass="btn-material btn-primary ui-confirmdialog-yes"
					icon="fa fa-check" />
				<p:commandButton value="Hayır" type="button"
					styleClass="btn-material btn-danger ui-confirmdialog-no"
					icon="fa fa-close" />
			</p:confirmDialog>
		</h:form>

		<p:tabView id="tabView" styleClass="card">


			<p:tab id="paymentTab">
				<f:facet name="title">
					<h:outputText value="Ödeme Bilgileri" />
					<h:graphicImage
						value="https://img.icons8.com/color/32/000000/cash-in-hand.png" />
				</f:facet>
				<ui:include src="/payment-list.xhtml" />
			</p:tab>


			<p:tab>
				<f:facet name="title">
					<h:outputText value="Anamnez Bilgisi" />
					<h:graphicImage value="https://img.icons8.com/nolan/32/form.png" />
				</f:facet>
				<ui:include src="/patient-information.xhtml" />
			</p:tab>

		</p:tabView>


		<p:dialog header="Randevu Saatleri" widgetVar="randevuSaatleri"
			modal="true" responsive="true" dynamic="true" closeOnEscape="true"
			styleClass="box-success">
			<ui:include src="/appointment-form.xhtml" />
			<p:ajax event="close" listener="#{appointmentFormMB.handleClose}" />
		</p:dialog>

		<p:dialog id="yeniHasta" header="Hasta Kaydet/Güncelle"
			widgetVar="yeniHasta" modal="true" responsive="true" dynamic="true"
			closeOnEscape="true" styleClass="box-success">
			<ui:include src="/patient-form.xhtml" />
		</p:dialog>

		<p:dialog header="Hasta Onam Formu" widgetVar="onamFormuPdf"
			maximizable="true" modal="true" responsive="true" dynamic="true"
			closeOnEscape="true" width="80%" height="100%"
			styleClass="box-success">
			<ui:include src="onamFormuPdf.xhtml" />
		</p:dialog>


	</ui:define>

</ui:composition>
