<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">

	<h:form>
		<p:dataTable id="operationsTable" widgetVar="operationsTable" var="d"
			value="#{patientToothInformationMB.operations}" rowKey="#{d.id}"
			selection="#{patientToothInformationMB.selectedOperation}"
			selectionMode="single">

			<p:ajax event="rowSelectCheckbox"
				update="@(.ui-button, .ui-confirm-dialog)" />
			<p:ajax event="rowUnselectCheckbox"
				update="@(.ui-button, .ui-confirm-dialog)" />
			<p:ajax event="rowSelect" update="@(.ui-button, .ui-confirm-dialog)" />
			<p:ajax event="rowUnselect"
				update="@(.ui-button, .ui-confirm-dialog)" />
			<p:ajax event="toggleSelect"
				update="@(.ui-button, .ui-confirm-dialog)" />

			<p:column headerText="Hasta Adı">
							#{patientToothInformationMB.findPatientById(d.patientId)}
						</p:column>

			<p:column headerText="Hekim">
                           #{patientToothInformationMB.findDoctorById(d.doctorId)}
                        </p:column>

			<p:column headerText=" Diş Numarası">
                            #{d.selectedToothId}
                        </p:column>

			<p:column headerText="Uygulanan Tedavi">
							#{d.treatmentName}
						</p:column>

			<p:column headerText="Ücret">
				<p:outputLabel value="#{d.price} ₺" />
			</p:column>

			<p:column headerText="Tarih">
				<p:outputLabel value="#{d.date}">
					<f:convertDateTime pattern="dd-MM.yyyy" timeZone="GMT+3" />
				</p:outputLabel>
			</p:column>

			<p:column headerText="Onay">
					v2
			</p:column>

			<p:column>
				<p:commandButton styleClass="btn-xs btn-danger" value="Sil"
					action="#{patientToothInformationMB.delete(d)}" process="@this"
					update="operationsTable">
					<p:confirm header="UYARI" message="Emin misiniz ?"
						icon="ui-icon-danger" />
				</p:commandButton>
			</p:column>
		</p:dataTable>


	</h:form>
</ui:composition>
