<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">

	<h:form>

		<p:selectOneButton id="oneBtn"
			value="#{patientToothInformationMB.isChild}">
			<f:selectItem itemLabel="Yetişkin Diş Şeması" itemValue="false" />
			<f:selectItem itemLabel="Süt Dişi Şeması" itemValue="true" />
			<f:ajax render="@form @parent yetiskin_disi sut_disi" event="change"></f:ajax>
		</p:selectOneButton>

		<p:panel id="yetiskin_disi"
			rendered="#{!patientToothInformationMB.isChild}">
			<div class="ui-sm-12 ui-g-6 ui-g-nopad">

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="18" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(18)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(18) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="17" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(17)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(17) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="16" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(16)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(16) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="15" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(15)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(15) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>
				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="14" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(14)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(14) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="13" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(13)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(13) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="12" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(12)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(12) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="11" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(11)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(11) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="21" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(21)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(21) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="22" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(22)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(22) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="23" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(23)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(23) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>



			</div>

			<div class="ui-sm-12 ui-g-6 ui-g-nopad">

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="24" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(24)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(24) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="25" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(25)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(25) == false ? 'tooth.png' : 'tooth-tick.png'}" />

					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="26" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(26)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(26) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="27" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(27)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(27) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>
				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="28" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(28)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(28) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>
			</div>
			<hr />
			<div class="ui-sm-12 ui-g-6 ui-g-nopad">

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="48" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(48)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(48) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="47" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(47)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(47) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="46" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(46)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(46) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="45" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(45)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(45) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>
				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="44" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(44)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(44) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="43" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(43)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(43) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="42" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(42)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(42) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="41" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(41)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(41) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="31" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(31)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(31) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="32" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(32)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(32) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="33" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(33)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(33) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>


			</div>

			<div class="ui-sm-12 ui-g-6 ui-g-nopad">

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="34" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(34)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(34) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>
				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="35" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(35)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(35) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="36" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(36)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(36) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="37" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(37)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(37) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="38" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(38)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(38) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>


			</div>
		</p:panel>


		<p:panel id="sut_disi" rendered="#{patientToothInformationMB.isChild}">

			<div class="ui-sm-12 ui-g-6 ui-g-nopad">

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="55" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(55)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(55) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>
				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="54" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(54)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(54) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="53" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(53)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(53) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="52" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(52)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(52) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="51" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(51)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(51) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="61" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(61)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(61) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="62" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(62)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(62) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="63" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(63)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(63) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>



			</div>

			<div class="ui-sm-12 ui-g-6 ui-g-nopad">

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="64" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(64)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(64) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="65" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(65)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(65) == false ? 'tooth.png' : 'tooth-tick.png'}" />

					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1"></div>
				<div class="ui-sm-12 ui-g-1"></div>
			</div>
			<hr />
			<div class="ui-sm-12 ui-g-6 ui-g-nopad">
				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="85" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(85)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(85) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>
				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="84" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(84)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(84) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="83" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(83)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(83) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="82" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(82)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(82) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="81" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(81)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(81) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="71" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(71)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(71) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="72" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(72)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(72) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="73" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(73)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(73) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>


			</div>

			<div class="ui-sm-12 ui-g-6 ui-g-nopad">

				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="74" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(74)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(74) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>
				<div class="ui-sm-12 ui-g-1">
					<p:outputLabel value="75" />
					<p:commandLink
						action="#{patientToothInformationMB.setSelectedToothId(75)}"
						update="@parent">
						<p:graphicImage library="images"
							name="#{patientToothInformationMB.isSelected(75) == false ? 'tooth.png' : 'tooth-tick.png'}" />
					</p:commandLink>
				</div>

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1"></div>

				<div class="ui-sm-12 ui-g-1"></div>
			</div>
		</p:panel>
		<hr />

		<div class="ui-sm-12 ui-g-12 ui-g-nopad">
			<div class="ui-sm-12 ui-g-2">
				<p:outputLabel value="Hekim" for="kontrolHekim" />
			</div>
			<div class="ui-sm-12 ui-g-3">
				<p:selectOneMenu id="kontrolHekim"
					value="#{patientToothInformationMB.doctorId}">
					<f:selectItem itemLabel="
							Tedaviyi Yapan Hekimi Seçiniz"
						noSelectionOption="true" />
					<f:selectItems value="#{patientFormMB.getDoctors()}" var="doctor"
						itemLabel="#{doctor.name}" itemValue="#{doctor.id}" />
					<p:ajax event="change" update="@form"
						listener="#{patientToothInformationMB.onDoctorSelect}" />
				</p:selectOneMenu>
			</div>
		</div>


		<div class="ui-sm-12 ui-g-12 ui-g-nopad">
			<div class="ui-sm-12 ui-g-2">
				<p:outputLabel value="Yapılacan İşlem" for="operation" />
			</div>
			<div class="ui-sm-12 ui-g-3">
				<p:selectOneMenu id="operation"
					value="#{patientToothInformationMB.treatmentId}">
					<f:selectItem itemLabel="İşlem Seçiniz" itemValue="" />
					<f:selectItems value="#{patientToothInformationMB.getTreatments()}"
						var="t" itemLabel="#{t.name}" itemValue="#{t.id}" />
				</p:selectOneMenu>
			</div>
		</div>

		<hr />


		<div class="ui-sm-12 ui-g-12 ui-g-nopad">
			<div class="ui-sm-12 ui-g-2">
				<p:outputLabel for="description" value="Açıklama" />
			</div>
			<div class="ui-sm-12 ui-g-3">
				<p:inputTextarea id="description" maxlength="254" autoResize="true"
					style="width:100%" placeholder="Lütfen bilgileri giriniz"
					value="#{patientToothInformationMB.info.description}" />
			</div>
		</div>


		<p:commandButton value="Kaydet" update="@form msg tabView"
			action="#{patientToothInformationMB.save}" styleClass="btn-success" />
	</h:form>
</ui:composition>
