<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	template="#{layoutMB.template}">

	<ui:define name="metadata">
		<style type="text/css">
			.ui-datatable 
			.ui-datatable-header 
			{
				text-align: right !important;
			}
		</style>
	</ui:define>

	<ui:define name="description">
		<h4>
			<h:graphicImage
				value="https://img.icons8.com/color/48/000000/health-book.png" />
			Tedaviler ve Fiyatlandırma
		</h4>
	</ui:define>

	<ui:define name="body">
		<ui:include src="/WEB-INF/util/message.xhtml" />
		<h:form id="treatmentListForm">
			<div class="box box-primary card">
				<div class="box-header with-border">
					<div id="main-buttons" class="hidden-sm hidden-xs">

						<p:commandButton value="Yeni Tedavi Oluştur"
							styleClass="btn-primary btn-xs"
							oncomplete="PF('yeniTedavi').show()" icon="fa fa-search"
							action="#{treatmentPricingListMB.showNewView()}"
							update="yeniTedavi">
							<f:param name="id" value="0" />
						</p:commandButton>
						<p:spacer width="5" />

						<p:commandButton oncomplete="PF('yeniTedavi').show()"
							value="Güncelle" update="@(.ui-dialog)" icon="fa fa-edit"
							styleClass="btn-success btn-xs">
						</p:commandButton>
						<p:spacer width="5" />
						
						<p:commandButton value="Tedaviyi Sil" icon="fa fa-trash"
							styleClass="btn-danger btn-xs"
							action="#{treatmentPricingListMB.delete}"
							disabled="#{treatmentPricingListMB.selectedTreatmentPricing == null}"
							process="@this" update="msg">
							<p:confirm header="Uyarı" message="Emin misiniz ?"
								icon="ui-icon-danger" />
						</p:commandButton>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
							styleClass="box-danger box-solid">
							<p:commandButton value="Evet" type="button"
								styleClass="btn-material btn-primary ui-confirmdialog-yes"
								icon="fa fa-check" />
							<p:commandButton value="Hayır" type="button"
								styleClass="btn-material btn-danger ui-confirmdialog-no"
								icon="fa fa-close" />
						</p:confirmDialog>
					</div>
					<p:separator />

					<p:dataTable id="treatmentsTable" widgetVar="treatmentsTable"
						var="a" value="#{treatmentPricingListMB.treatmentPricings}"
						rows="10" rowKey="#{a.id}" lazy="true" paginator="true"
						paginatorPosition="bottom"
						selection="#{treatmentPricingListMB.selectedTreatmentPricing}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
						currentPageReportTemplate="[Toplam {totalRecords} kayıt arasından {startRecord} - {endRecord} arası gösteriliyor ]"
						rowsPerPageTemplate="10,15,20,30" selectionMode="single">

						<p:ajax event="rowSelect"
							listener="#{treatmentPricingListMB.onRowSelect}"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowSelectCheckbox"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowUnselectCheckbox"
							update="@(.ui-button, .ui-confirm-dialog)" />
						<p:ajax event="rowSelect"
							update="@(.ui-button, .ui-confirm-dialog) " />
						<p:ajax event="rowUnselect"
							update="@(.ui-button, .ui-confirm-dialog) " />
						<p:ajax event="toggleSelect"
							update="@(.ui-button, .ui-confirm-dialog) " />

						<p:column headerText="İsim">
										#{a.name}
								</p:column>

						<p:column headerText="Fiyat">
							<div align="center"><p:outputLabel value ="#{a.price} ₺"/></div>
						</p:column>

					</p:dataTable>
				</div>
			</div>
		</h:form>

		<p:dialog id="yeniTedavi" header="Tedavi-Fiyat Ekle/Güncelle"
			widgetVar="yeniTedavi" modal="true" responsive="true" dynamic="true"
			closeOnEscape="true" styleClass="box-success">
			<ui:include src="/treatment-and-pricing-form.xhtml" />
		</p:dialog>

	</ui:define>
</ui:composition>
