<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">



	<h:form id="form" prependId="false">

		<p:panel styleClass="box-primary card">
			<div id="main-buttons" class="hidden-sm hidden-xs">

				<p:commandButton value="Kaydet"
					action="#{treatmentPricingListMB.save}" icon="fa fa-check"
					styleClass="btn-success btn-xs" update="@parent msg">
					<f:setPropertyActionListener value="true"
						target="#{facesContext.externalContext.flash.keepMessages}" />
				</p:commandButton>

			</div>

			<hr />

			<div class="ui-g ui-fluid">
				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="İsim" for="inptName" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:inputText id="inptName"
							value="#{treatmentPricingListMB.selectedTreatmentPricing.name}"
							required="true" requiredMessage="İsim Girilmelidir." />
						<span class="help-block"> <p:message for="inptName" />
						</span>
					</div>
				</div>

				<div class="ui-sm-12 ui-g-6 ui-g-nopad">
					<div class="ui-sm-12 ui-g-11">
						<p:outputLabel value="Fiyat" for="inptPrice" />
					</div>
					<div class="ui-sm-12 ui-g-11">
						<p:inputText id="inptPrice"
							value="#{treatmentPricingListMB.selectedTreatmentPricing.price}"
							required="true" requiredMessage="Fiyat Girilmelidir." />
						<span class="help-block"> <p:message for="inptName" />
						</span>
					</div>
				</div>

			</div>
		</p:panel>

	</h:form>
</ui:composition>